<link rel="stylesheet" href="{{ 'account.css' | asset_url }}" />

{%- style -%}
  #shopify-section-{{ section.id }} {
    padding-top: {{ section.settings.padding_top_mb }}px;
    padding-bottom: {{ section.settings.padding_bottom_mb }}px;
  }

  @media screen and (min-width: 768px) {
    #shopify-section-{{ section.id }} {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="max-w-[462px] w-full mx-auto px-4" data-section-id="{{ section.id }}">
  <div id="recover" class="scroll-m-80">
    <div class="block w-full text-h3 lg:text-h2 py-1.5 lg:py-2.5 font-heading font-semibold text-center capitalize">
      {{ 'customer.recover_password.title' | t }}
    </div>

    <validate-form class="block">
      {%- form 'recover_customer_password' -%}
        {% assign recover_success = form.posted_successfully? %}
        {%- if recover_success == true -%}
          <modal-dialog id="recover_success" class="block transition-all w-full bg-background shadow-megamenu mb-6 lg:mb-8">
            <div class="text-primary text-sm leading-5 lg:text-base lg:leading-6 font-normal py-3.5 lg:py-3 px-4 flex justify-between items-center rounded-r-lg border-l-[3px] border-success gap-3">
              <span class="block text-success">
                {{ 'customer.recover_password.success' | t }}
              </span>
              {% render 'icon-close', class: 'w-6 h-6 close cursor-pointer flex-none' %}
            </div>
          </modal-dialog>
        {%- endif -%}
        {%- if form.errors -%}
          <modal-dialog id="recover_error" class="block transition-all w-full bg-background shadow-megamenu mb-6 lg:mb-8">
            <div class="text-primary text-sm leading-5 lg:text-base lg:leading-6 font-normal py-3.5 lg:py-3 px-4 flex justify-between items-center rounded-r-lg border-l-[3px] border-error gap-3">
              {%- for field in form.errors -%}
                <span class="block text-error">
                  {{ form.errors.messages[field] }}
                </span>
              {%- endfor -%}
              {% render 'icon-close', class: 'w-6 h-6 close cursor-pointer flex-none' %}
            </div>
          </modal-dialog>
          <span id="RecoverEmail-email-error" class="text-xs text-error block mt-4"></span>
        {%- endif -%}
        <div class="w-full mb-8">
          <label class="block font-heading text-base text-primary leading-4 font-semibold mb-2" for="RecoverEmail">{{ 'customer.login_page.email' | t }}</label>
          <input
            class="border border-border focus:border-subtext hover:border-subtext active:border-subtext !ring-0 font-normal border-solid w-full text-base leading-4 px-3 py-3 rounded-lg {% if form.errors %}error{% endif %}"
            type="email"
            data-name="email"
            value=""
            name="email"
            id="RecoverEmail"
            autocorrect="off"
            autocapitalize="off"
            placeholder="{{ 'customer.login_page.email_placeholder' | t }}"
            autocomplete="email">
        </div>

        <button type="submit" class="btn text-center w-full !h-12.5 py-2 px-6 lg:px-8 !uppercase !text-base lg:leading-none mb-3 lg:mb-4">{{ 'customer.login_page.submit' | t }}</button>
        <a href="#login" class="btn btn-2 text-center w-full py-4 px-6 lg:px-8 !uppercase text-base lg:leading-none">{{ 'customer.reset_password.back_to_login' | t }}</a>
      {%- endform -%}
    </validate-form>
  </div>

  <div id="login" class="scroll-m-80">
    <div class="block w-full text-h3 lg:text-h2 py-1.5 lg:py-2.5 font-heading font-semibold text-center capitalize">
      Login
    </div>

    <validate-form class="block">
      {%- form 'customer_login', id: 'CustomerLoginForm', novalidate: 'novalidate', class: 'grid' -%}
        {%- if form.errors -%}
          <modal-dialog id="form-error" class="block transition-all w-full bg-background shadow-megamenu mb-6 lg:mb-8">
            <div class="text-primary text-sm leading-5 lg:text-base lg:leading-6 font-normal py-3.5 lg:py-3 px-4 flex justify-between items-center rounded-r-lg border-l-[3px] border-error gap-3">
              {%- for field in form.errors -%}
                <span class="block text-error">
                  {{ form.errors.messages[field] }}
                </span>
              {%- endfor -%}
              {% render 'icon-close', class: 'w-6 h-6 close cursor-pointer flex-none' %}
            </div>
          </modal-dialog>
        {%- endif -%}

        <div class="w-full mb-4 lg:mb-5 0 order-3 lg:order-2">
          <label class="block font-heading text-base text-primary leading-4 font-semibold mb-2" for="CustomerEmail">{{ 'customer.login_page.email' | t }}</label>
          <input
            class="border border-border focus:border-subtext hover:border-subtext active:border-subtext !ring-0 font-normal border-solid w-full text-base leading-4 px-3 py-3 rounded-lg{% if form.errors contains 'form' %} error{% endif %}"
            type="email"
            name="customer[email]"
            data-name="email"
            id="CustomerEmail"
            placeholder="{{ 'customer.login_page.email_placeholder' | t }}"
            autocomplete="email"
            autocorrect="off"
            autocapitalize="off"
            required
            >
        </div>
        {%- if form.password_needed -%}
          <div class="w-full mb-4 order-4 lg:order-3">
            <label class="block font-heading text-base text-primary leading-4 font-semibold mb-2" for="CustomerPassword">{{ 'customer.login_page.password' | t }}</label>
            <toggle-password class="relative field w-full block">
              <input
                class="border border-border focus:border-subtext hover:border-subtext active:border-subtext !ring-0 font-normal border-solid w-full text-base leading-4 px-3 py-3 rounded-lg{% if form.errors contains 'form' %} error{% endif %}"
                type="password"
                data-name="password"
                value=""
                name="customer[password]"
                id="CustomerPassword"
                placeholder="{{ 'customer.login_page.password_placeholder' | t }}"
                autocomplete="current-password"
                required
                >
              <span class="eye absolute top-1/2 right-4 -translate-y-1/2 z-10 cursor-pointer">
                <span class="icon-eye">{% render 'icon-eye' %}</span>
                <span class="icon-eye-hidden">{% render 'icon-eye-hidden' %}</span>
              </span>
            </toggle-password>
          </div>
        {%- endif -%}

        <div class="flex items-center flex-wrap justify-between gap-2 mb-5 lg:mb-6 order-5 lg:order-4">
          <div class="flex items-center gap-2">
            <label for="keep-signed" class="relative checked">
              <input
                type="checkbox"
                class="opacity-0 invisible absolute"
                id="keep-signed">
              <svg
                aria-hidden="true"
                class="icon icon-checkmark absolute w-2.5 h-2.5 top-1/2 left-2.5 -translate-x-1/2 -translate-y-1/2 opacity-0 invisible"
                width="0.625rem"
                height="0.625rem"
                viewBox="0 0 11 7"
                fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M1.5 3.5L2.83333 4.75L4.16667 6L9.5 1"
                  stroke="currentColor"
                  stroke-width="1.75"
                  stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="18"
                height="18"
                class="icon-box w-5 h-5 flex-none"
                viewBox="0 0 18 18"
                fill="none">
                <path
                  d="M16.625 2.75C16.625 1.99061 16.0094 1.375 15.25 1.375H2.75C1.99061 1.375 1.375 1.99061 1.375 2.75V15.25C1.375 16.0094 1.99061 16.625 2.75 16.625H15.25C16.0094 16.625 16.625 16.0094 16.625 15.25V2.75Z"
                  stroke="currentColor"
                  stroke-linejoin="round" />
              </svg>
            </label>
            <label class="block cursor-pointer select-none text-sm leading-5 font-normal text-primary" for="keep-signed">{{ 'customer.login_page.keep_me_signed_in' | t }}</label>
          </div>
          <a href="#recover" class="block text-sm text-primary hover:text-primary leading-2 font-medium">{{ 'customer.login_page.forgot_password' | t }}</a>
        </div>

        <button type="submit" class="btn w-full !h-12.5 py-2 px-6 lg:px-8 !uppercase !text-base leading-none mb-3 order-6 lg:order-5">{{ 'customer.login_page.title' | t }}</button>

        <span class="account-description block text-xs mb-6 lg:mb-8 font-normal text-primary text-left order-7 lg:order-6 max-w-[270px] mx-auto lg:max-w-full">{{ 'customer.login_page.introduce_html' | t: sitename: shop.name }}</span>

      {%- endform -%}
    </validate-form>

    {% if template.name == "login" %}
      <div class="text-sm leading-[20px] text-center text-primary">
        New Customer?
        <a href="{{ routes.account_register_url }}" class="text-secondary text-base leading-[20px]">
          {{ 'customer.register.title' | t }}
        </a>
      </div>
    {% endif %}
  </div>

  {%- if shop.checkout.guest_login -%}
    <div class="scroll-m-80 mt-4">
      <h2 class="capitalize text-center mb-3 font-semibold text-primary text-h4 lg:text-h3">{{ 'customer.login_page.guest_title' | t }}</h2>
      {%- form 'guest_login' -%}
        <button class="btn w-full py-4 px-6 lg:px-8 !uppercase text-base leading-none">
          {{ 'customer.login_page.guest_continue' | t }}
        </button>
      {%- endform -%}
    </div>
  {%- endif -%}
</div>
<script>
if(document.querySelector('#recover_success') || document.querySelector('#recover_error')) {
  document.querySelector('a[href="#recover"]').click();
}
</script>
{% capture src_url %}{{ 'account.js' | asset_url }}{% endcapture %}
{% render 'atom_script', src: src_url, priority: 'normal', type: "defer" %}
{% capture bitlogin %}{{ 'bitlogin.js' | asset_url }}{% endcapture %}
{% render 'atom_script', src: bitlogin, priority: 'normal', type: "defer" %}
{% schema %}
  {
    "name": "Login",
    "tag": "section",
    "settings": [
      {
        "type": "header",
        "content": "Padding mobile"
      },
      {
        "type": "range",
        "id": "padding_top_mb",
        "min": 0,
        "max": 200,
        "step": 2,
        "unit": "px",
        "label": "Padding top",
        "default": 36
      },
      {
        "type": "range",
        "id": "padding_bottom_mb",
        "min": 0,
        "max": 200,
        "step": 2,
        "unit": "px",
        "label": "Padding bottom",
        "default": 36
      },
      {
        "type": "header",
        "content": "Padding desktop"
      }, {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 200,
        "step": 2,
        "unit": "px",
        "label": "Padding top",
        "default": 36
      }, {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 200,
        "step": 2,
        "unit": "px",
        "label": "Padding bottom",
        "default": 36
      }
    ]
  }
{% endschema %}