<link rel="stylesheet" href="{{ 'account.css' | asset_url }}" />

{%- style -%}
  #shopify-section-{{ section.id }} {
    padding-top: {{ section.settings.padding_top_mb }}px;
    padding-bottom: {{ section.settings.padding_bottom_mb }}px;
  }

  @media screen and (min-width: 768px) {
    #shopify-section-{{ section.id }} {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="max-w-[462px] w-full mx-auto px-4" data-section-id="{{ section.id }}">
  <div class="scroll-m-80">
    <h1 class="capitalize text-center mb-3 font-semibold text-primary text-h4 lg:text-h3">
      {{ 'customer.reset_password.title' | t }}
    </h1>
    <p class="block text-sm leading-5 lg:text-base lg:leading-6 mb-8 font-normal text-primary text-center">{{ 'customer.reset_password.subtext' | t }}</p>
    {%- form 'reset_customer_password' -%}
      {%- if form.errors -%}
        <ul>
          {%- for field in form.errors -%}
            <li>
              {%- if field == 'form' -%}
                {{ form.errors.messages[field] }}
              {%- else -%}
                <a href="#{{ field }}">
                  {{ form.errors.translated_fields[field] | capitalize }}
                  {{ form.errors.messages[field] }}
                </a>
              {%- endif -%}
            </li>
          {%- endfor -%}
        </ul>
      {%- endif -%}
      <div class="w-full mb-8 lg:mb-6">
        <label class="block font-heading text-base text-primary leading-4 font-semibold mb-2" for="password">{{ 'customer.reset_password.password' | t }}</label>
        <toggle-password class="relative field w-full block">
          <input 
            class="border border-border focus:border-subtext hover:border-subtext active:border-subtext !ring-0 font-normal border-solid w-full text-base leading-4 px-3 py-3 rounded-lg"
            type="password"
            name="customer[password]"
            id="password"
            autocomplete="new-password"
            {% if form.errors contains 'password' %}
            aria-invalid="true"
            aria-describedby="password-error"
            {% endif %}
            placeholder="{{ 'customer.reset_password.password' | t }}">
          <span class="eye absolute top-1/2 right-4 -translate-y-1/2 z-10 cursor-pointer">
            <span class="icon-eye">{% render 'icon-eye' %}</span>
            <span class="icon-eye-hidden">{% render 'icon-eye-hidden' %}</span>
          </span>
        </toggle-password>
          {%- if form.errors contains 'password' -%}
            <small id="password-error" class="form__message mt-2">
              <svg
                aria-hidden="true"
                focusable="false"
                role="presentation">
                <use href="#icon-error" />
              </svg>
              {{ form.errors.translated_fields['password'] | capitalize }} {{ form.errors.messages['password'] }}
            </small>
          {%- endif -%}
      </div>

      <div class="w-full mb-8 lg:mb-6">
        <label class="block font-heading text-base text-primary leading-4 font-semibold mb-2" for="password_confirmation">
          {{ 'customer.reset_password.password_confirm' | t }}
        </label>
        <toggle-password class="relative field w-full block">
          <input
            type="password"
            class="border border-border focus:border-subtext hover:border-subtext active:border-subtext !ring-0 font-normal border-solid w-full text-base leading-4 px-3 py-3 rounded-lg"
            name="customer[password_confirmation]"
            id="password_confirmation"
            autocomplete="new-password"
            {% if form.errors contains 'password_confirmation' %}
            aria-invalid="true"
            aria-describedby="password_confirmation-error"
            {% endif %}
            placeholder="{{ 'customer.reset_password.password_confirm' | t }}">
          <span class="eye absolute top-1/2 right-4 -translate-y-1/2 z-10 cursor-pointer">
            <span class="icon-eye">{% render 'icon-eye' %}</span>
            <span class="icon-eye-hidden">{% render 'icon-eye-hidden' %}</span>
          </span>
        </toggle-password>
        {%- if form.errors contains 'password_confirmation' -%}
          <small id="password_confirmation-error" class="form__message mt-2">
            <svg
              aria-hidden="true"
              focusable="false"
              role="presentation">
              <use href="#icon-error" />
            </svg>
            {{ form.errors.translated_fields['password_confirmation'] | capitalize }} {{ form.errors.messages['password_confirmation'] }}
          </small>
        {%- endif -%}
      </div>

      <button class="btn w-full py-4 px-6 lg:px-8 !uppercase text-base leading-none mb-3 order-6 lg:order-5">
        {{ 'customer.reset_password.submit' | t }}
      </button>
    {%- endform -%}
  </div>
</div>

{% capture src_url %}{{ 'account.js' | asset_url }}{% endcapture %}
{% render 'atom_script', src: src_url, priority: 'normal', type: "defer" %}

{% schema %}
  {
    "name": "Reset password",
    "settings": [
      {
        "type": "header",
        "content": "Padding mobile"
      },
      {
        "type": "range",
        "id": "padding_top_mb",
        "min": 0,
        "max": 200,
        "step": 2,
        "unit": "px",
        "label": "Padding top",
        "default": 36
      },
      {
        "type": "range",
        "id": "padding_bottom_mb",
        "min": 0,
        "max": 200,
        "step": 2,
        "unit": "px",
        "label": "Padding bottom",
        "default": 36
      },
      {
        "type": "header",
        "content": "Padding desktop"
      }, {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 200,
        "step": 2,
        "unit": "px",
        "label": "Padding top",
        "default": 36
      }, {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 200,
        "step": 2,
        "unit": "px",
        "label": "Padding bottom",
        "default": 36
      }
    ]
  }
{% endschema %}