{% assign priceMin = 0 %}
{% assign priceMinValue = filter.min_value.value | money_without_currency | round %}
{% assign priceMax = filter.range_max | money_without_currency | ceil %}
{% assign priceMaxValue = filter.max_value.value | money_without_currency | ceil %}

<div class="flex items-center gap-3 relative">
  <input 
    type="number" 
    name="{{ filter.min_value.param_name }}" 
    {% if uses_comma_decimals %}
      value="{{ priceMin | replace: '.', '' | replace: ',', '.' }}"
    {% else %}
      value="{{ priceMin | replace: ',', '' }}"
    {% endif %}
    class="border border-border focus:border-subtext hover:border-subtext active:border-subtext !ring-0 font-normal border-solid w-full text-base leading-4 px-3 py-3 rounded-lg" 
    id="Filter-price-1">
  <input 
    type="number" 
    name="{{ filter.max_value.param_name }}" 
    {% if uses_comma_decimals %}
      value="{{ priceMax | replace: '.', '' | replace: ',', '.' }}"
    {% else %}
      value="{{ priceMax | replace: ',', '' }}"
    {% endif %}
    class="border border-border focus:border-subtext hover:border-subtext active:border-subtext !ring-0 font-normal border-solid w-full text-base leading-4 px-3 py-3 rounded-lg" 
    id="Filter-price-2">
</div>