{%- style -%}
  [data-section-id="{{ section.id }}"] {
    padding-top: {{ section.settings.padding_top_mb }}px;
    padding-bottom: {{ section.settings.padding_bottom_mb }}px;
  }
  @media screen and (min-width: 1024px) {
    [data-section-id="{{ section.id }}"] {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="{% if section.settings.layout_secondary %}page-width-secondary{% else %}page-width{% endif %}" data-section-id="{{ section.id }}">
  {% if section.settings.description %}
    <span class="block text-sm font-medium leading-2 lg:text-base lg:leading-2 text-center text-primary uppercase mb-2 lg:mb-4">{{ section.settings.description }}</span>
  {% endif %}
  {% if  section.settings.heading %}
    <h2 class="text-h4 lg:text-h2 text-center text-primary capitalize mb-6 lg:mb-10">{{ section.settings.heading }}</h2>
  {% endif %}
  <div class="w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3 md:gap-4">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'image_with_text' %}
          <div class="rounded-xl px-8 pt-6 pb-5 lg:pt-8 lg:pb-6 w-full h-full text-center border border-primary">
              {% if block.settings.image != blank %}
                <img class="mx-auto block w-fit mb-4"
                    srcset="{{ block.settings.image | image_url: width: block.settings.image.width }} {{ block.settings.image.width }}w"
                    src="{{ block.settings.image | image_url: width: block.settings.image.width }}" 
                    width="{{ block.settings.image.width }}" 
                    height="{{ block.settings.image.height }}" 
                    loading="lazy" 
                    alt="{{ block.settings.heading }}" 
                    sizes="(min-width: 1024px) 56px, 48px">
              {% endif %}
              {% if block.settings.heading != blank %}
                <h3 class="text-h5 texxt-primary text-center font-heading lg:text-h4">{{ block.settings.heading }}</h3>
              {% endif %}
              {% if block.settings.description != blank %}
                {% if block.settings.description_type == 'link' %}
                  <a href="{{ block.settings.description_link_type }}{{ block.settings.description }}" class="block text-primary text-sm font-normal leading-5 lg:text-base lg:leading-6 hover:text-primary mt-0.5 lg:mt-1" title="{{ block.settings.description }}" rel="nofollow">{{ block.settings.description }}</a>
                {% else %}
                  <p class="text-primary text-sm font-normal leading-5 lg:text-base lg:leading-6 mt-0.5 lg:mt-1">{{ block.settings.description }}</p>
                {% endif %}
              {% endif %}
          </div>
      {% endcase %}
    {% endfor %}
  </div>
</div>

{% capture src_url %}{{ 'template-page.js' | asset_url }}{% endcapture %}
{% render 'atom_script', src: src_url, priority: 'normal', type: "defer" %}

{% schema %}
  {
    "name": "Question contact",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      },
      {
        "type": "text",
        "id": "description",
        "label": "Description"
      },
      {
        "type": "header",
        "content": "Padding desktop"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 200,
        "step": 2,
        "unit": "px",
        "label": "Padding Top",
        "default": 0
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 200,
        "step": 2,
        "unit": "px",
        "label": "Padding Bottom",
        "default": 0
      },
      {
        "type": "header",
        "content": "Padding mobile"
      },
      {
        "type": "range",
        "id": "padding_top_mb",
        "min": 0,
        "max": 200,
        "step": 2,
        "unit": "px",
        "label": "Padding Top",
        "default": 0
      },
      {
        "type": "range",
        "id": "padding_bottom_mb",
        "min": 0,
        "max": 200,
        "step": 2,
        "unit": "px",
        "label": "Padding Bottom",
        "default": 0
      }
    ],
    "blocks": [
      {
        "type": "image_with_text",
        "name": "Image with text",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "heading",
            "label": "Heading"
          },
          {
            "type": "text",
            "id": "description",
            "label": "Description"
          },
          {
            "type": "select",
            "id": "description_type",
            "label": "Description type",
            "options": [
              {
                "value": "link",
                "label": "Link"
              },
              {
                "value": "text",
                "label": "text"
              }
            ]
          },
          {
            "type": "select",
            "id": "description_link_type",
            "label": "Description link type",
            "options": [
              {
                "value": "tel:",
                "label": "Telephone"
              },
              {
                "value": "mailto:",
                "label": "Email"
              },
              {
                "value": "",
                "label": "Normal"
              }
            ]
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Question contact"
      }
    ]
  }
{% endschema %}