{% assign original_price = 0 %}
{% assign shippingLimit = settings.minimum_freeshipping | append: '00' | plus: 0 %}
{%- if cart != empty -%}
  {%- for item in cart.items -%}
    {% assign lineItemOriginalPrice = item.variant.compare_at_price | times: item.quantity %}
    {% assign original_price = original_price | plus: lineItemOriginalPrice %}
  {%- endfor -%}
{%- endif -%}
<div class="js-contents" id="cart-total" {{ block.shopify_attributes }}>
  <ul class="py-3 grid gap-2">
    {% if original_price > cart.total_price %}
      <li class="flex items-center justify-between gap-2">
        <span class="text-sm font-normal text-primary capitalize leading-5">{{ 'sections.cart.original_price' | t }}</span>
        <span class="text-sm font-normal text-primary leading-5">
          {{ original_price | money }}
        </span>
      </li>
    {% endif %}
    {% if cart.total_discount > 0 %}
      <li class="flex items-center justify-between gap-2">
        <span class="text-sm font-normal text-sale capitalize leading-5">{{ 'sections.cart.discount' | t }}</span>
        <span class="text-sm font-normal text-sale leading-5">-{{ cart.total_discount | money }}</span>
      </li>
    {% endif %}

    <li class='flex items-center justify-between gap-2'>
      <span class='text-lg font-bold text-primary capitalize leading-5'>
        {{- 'sections.cart.subtotal' | t -}}
      </span>
      <span class='text-lg font-bold text-primary font-heading leading-4 uppercase totals__subtotal-value'>
        {{ cart.total_price | money }}
      </span>
    </li>
  </ul>
</div>