{%- style -%}
  [data-section-id="{{ section.id }}"] {
    background: {{ section.settings.background_color }};
    padding-top: {{ section.settings.padding_top_mb }}px;
    padding-bottom: {{ section.settings.padding_bottom_mb }}px;
  }

  [data-section-id="{{ section.id }}"] .slider-slide {
    max-width: 86.8%;
  }

  @media (min-width: 768px) {
    [data-section-id="{{ section.id }}"] {
      padding-top: calc({{ section.settings.padding_top }}px - 16px);
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }

    [data-section-id="{{ section.id }}"] .slider-slide {
      max-width: calc(100%/{{ section.settings.columns_tablet }} - {{ 16 | times: section.settings.columns_tablet | minus: 16 | divided_by: section.settings.columns_tablet }}px);
    }

  }

  @media (min-width: 1024px) {
    [data-section-id="{{ section.id }}"] .slider-slide {
      max-width: calc(100%/{{ section.settings.columns_desktop }} - {{ 16 | times: section.settings.columns_desktop | minus: 16 | divided_by: section.settings.columns_desktop }}px);
    }
  }
{%- endstyle -%}

<div data-section-id="{{ section.id }}">
  <div class="page-width relative">
    <h2 class="text-h5 font-semibold lg:text-h2 text-primary text-center mb-4 lg:mb-8">{{ section.settings.heading | escape }}</h2>
    {% if section.blocks.size > 0 %}
      <slider-component class="block overflow-hidden pb-10 -mx-4" visibility="true">
        <button type="button" name="previous" aria-label="previous" class="prev-{{ section.id }} absolute top-1/2 left-0 w-10 h-10 bg-transparent shadow-button leading-none cursor-pointer transition-all hidden lg:flex items-center items-max-h-28 overflow-auto scroll-thin scroll-brighterenter justify-center p-0 rounded-full border-0 {% if settings.country == 'UK' %}text-primary disabled:!text-primary-opacity-50{% else %}text-primary disabled:!text-primary-opacity-50{% endif %}">
          {%- render 'icon-prev', class: "w-7 h-7" -%}
        </button>
        <ul class="slider-wrapper gap-4 slider-on-mobile slider-on-tablet slider-on-desktop p-4 pb-8 scroll-pl-4" id="Slider-{{ section.id }}">
          {% for block in section.blocks %}
            <li class="block !transition-all slider-slide !h-auto" id="Slide-{{ section.id }}-{{ forloop.index }}">
              <div class="group relative z-[5] shadow-card overflow-hidden bg-background hover:shadow-popup w-full h-full flex flex-col justify-between p-6 rounded-lg transition-all duration-500 before:transition-all before:duration-500 before:hover:scale-150 before:origin-bottom-right before:hover:opacity-5 before:absolute before:-bottom-2 before:-right-3 before:w-25 before:h-25 before:bg-image-favicon before:bg-no-repeat before:opacity-[0.04] before:-z-10">
                <div>
                  <div class="flex items-center justify-between mb-4">
                    {% if block.settings.customer %}
                      <span class="flex items-center gap-2 capitalize text-sm leading-4 font-medium lg:text-base text-primary font-heading">{% render 'icon-shield', class: 'w-4 h-4' %}{{ block.settings.customer }}</span>
                    {% endif %}
                    <span class="flex items-center gap-0.5 lg:gap-1 capitalize text-xs lg:text-sm font-medium text-primary"><span class="block">{{ block.settings.star }}</span> {% render 'icon-star', class: 'w-2.5 h-2.5' %}</span>
                  </div>
                  <span class="block text-sm leading-2 lg:text-base lg:leading-4 font-normal text-primary font-body mb-2 lg:mb-3">{{ block.settings.title_review }}</span>
                  <p class="text-sm lg:text-base leading-5 lg:leading-6 font-normal text-primary font-body mb-4 truncate-line three-lines overflow-hidden break-all">“{{ block.settings.description_review }}”</p>
                </div>
                <div class="flex items-center justify-between">
                  <a href="{{ block.settings.product.url }}" class="capitalize underline text-xs lg:text-sm font-heading font-semibold text-secondary hover:text-secondary transition-all" title="{{ block.settings.product.title }}">{{ block.settings.product_text | default: block.settings.product.title }}</a>
                  <span class="flex items-center gap-2 text-primary">
                    {% render 'icon-calendar', class: 'w-4.5 h-4.5' %}
                    <span class="text-xs lg:text-sm font-normal leading-5">{{ block.settings.date_picker }}</span>
                  </span>
                </div>
              </div>
            </li>
          {%- endfor -%}
        </ul>
        <button type="button" name="next" aria-label="next" class="next-{{ section.id }} absolute top-1/2 right-0 w-10 h-10 bg-transparent shadow-button leading-none cursor-pointer transition-all hidden lg:flex items-center justify-center p-0 rounded-full border-0 {% if settings.country == 'UK' %}text-primary disabled:!text-primary-opacity-50{% else %}text-primary disabled:!text-primary-opacity-50{% endif %}">
          {%- render 'icon-next', class: "w-7 h-7" -%}
        </button>
        <div class="slider-counter caption !hidden">
          <span class="slider-counter--current">1</span>
          <span aria-hidden="true"> / </span>
          <span class="slider-counter--total">{{ section.blocks.size }}</span>
        </div>
        <div class="slider-dots lg:mt-4"></div>
      </slider-component>
    {% endif %}
  </div>
</div>

{% schema %}
  {
    "name": "Testimonials",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "color",
        "id": "background_color",
        "label": "Background color",
        "default": "#FAFAFA"
      },
      {
        "type": "text",
        "id": "heading",
        "default": "Recipients",
        "label": "Heading"
      },
      {
        "type": "range",
        "id": "columns_desktop",
        "label": "Items per row in desktop",
        "min": 1,
        "max": 6,
        "default": 6,
        "step": 1
      },
      {
        "type": "range",
        "id": "columns_tablet",
        "label": "Items per row in tablet",
        "min": 1,
        "max": 6,
        "default": 4,
        "step": 1
      },
      {
        "type": "header",
        "content": "Padding desktop"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 200,
        "step": 2,
        "unit": "px",
        "label": "Padding top",
        "default": 64
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 200,
        "step": 2,
        "unit": "px",
        "label": "Padding bottom",
        "default": 64
      },
      {
        "type": "header",
        "content": "Padding mobile"
      },
      {
        "type": "range",
        "id": "padding_top_mb",
        "min": 0,
        "max": 200,
        "step": 2,
        "unit": "px",
        "label": "Padding top",
        "default": 40
      },
      {
        "type": "range",
        "id": "padding_bottom_mb",
        "min": 0,
        "max": 200,
        "step": 2,
        "unit": "px",
        "label": "Padding bottom",
        "default": 40
      }
    ],
    "blocks": [
      {
        "name": "Testimonial",
        "type": "testimonial",
        "settings": [
          {
            "type": "text",
            "id": "customer",
            "label": "Customer name"
          },
          {
            "type": "text",
            "id": "star",
            "label": "Number stars"
          },
          {
            "type": "text",
            "id": "title_review",
            "label": "Title review"
          },
          {
            "type": "text",
            "id": "description_review",
            "label": "Description review"
          },
          {
            "type": "product",
            "id": "product",
            "label": "Product"
          },
          {
            "type": "text",
            "id": "product_text",
            "label": "Product text",
            "default": "Product Detail",
            "info": "Product Detail"
          },
          {
            "type": "text",
            "id": "date_picker",
            "label": "Choose date",
            "info": "e.g. 8th Aug 2023"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Testimonials",
        "blocks": [
          {
            "type": "testimonial"
          },
          {
            "type": "testimonial"
          },
          {
            "type": "testimonial"
          }
        ]
      }
    ]
  }
{% endschema %}