
{% assign type = product.type | downcase %}

{% for block in section.blocks %}
  {% if block.settings.title %}
    {% assign sizeGuideTitle = block.settings.title | downcase %}
    {% if sizeGuideTitle == type %}
      {% assign activeElement = block.settings.title %}
    {% else %}
      {% if forloop.first %}
        {% assign activeElement = block.settings.title %}
      {% endif %}
    {% endif %}
  {% endif %}
{% endfor %}

<modal-dialog id="PopupModal-Sizeguide" class="hidden fixed top-0 left-0 bg-black bg-opacity-20 w-full h-full z-20">
  <div class="absolute p-3 bg-background h-fit left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 max-h-[calc(100vh_-_32px)] w-[865px] max-w-[calc(100vw_-_32px)] scrollbar-thin overflow-y-auto rounded-xl">
    <div class="sizeguide">
      <div class="mb-4 lg:mb-6 w-full">
        <p class="text-base text-center !font-medium text-primary capitalize font-heading">{{ 'products.product.size_guide' | t }} {{ product.type }}</p>
        <span class="absolute top-2 right-2 text-primary cursor-pointer close">
          {% render 'icon-close', class: 'w-6 h-6' %}
        </span>
      </div>
      <div class="tabs-detail">
        {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
        {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
        <img
          srcset="{%- if settings.logo.width >= 100 -%}{{ settings.logo | img_url: '100x' }} 100w,{%- endif -%}
          {%- if settings.logo.width >= 120 -%}{{ settings.logo | img_url: '120x' }} 120w,{%- endif -%}
          {%- if settings.logo.width >= 140 -%}{{ settings.logo | img_url: '140x' }} 140w,{%- endif -%}
          {%- if settings.logo.width >= 160 -%}{{ settings.logo | img_url: '160x' }} 160w,{%- endif -%}
          {%- if settings.logo.width >= 180 -%}{{ settings.logo | img_url: '180x' }} 180w,{%- endif -%}
          {%- if settings.logo.width >= 200 -%}{{ settings.logo | img_url: '200x' }} 200w,{%- endif -%}
          {{ settings.logo | img_url: 'master' }} {{ settings.logo_width }}w"
            src="{{ settings.logo | image_url: width: settings.logo_width }}"
            loading="lazy"
            class="max-w-[250px] h-auto mx-auto block mb-3"
            sizes="{{ settings.logo_width }}px"
            width="{{ settings.logo_width }}"
            height="{{ logo_height }}"
          alt="{{ logo_alt }}">
        <p class="text-base leading-4 text-primary text-center mb-3">{{ section.settings.description }}</p>
        {% for block in section.blocks %}
          {% if block.settings.image != blank %}
              <img src="{{ block.settings.image | image_url: width: block.settings.image.width }}"
                  sizes="{{ block.settings.image.width }}px"
                  alt="{{ block.settings.image | split: "/" | last | replace: "-", " " | split: "." | first }}"
                  class="block mx-auto max-w-[600px] mb-2 w-full rounded-lg overflow-hidden bg-image-placeholder bg-no-repeat bg-cover bg-center text-transparent"
                  loading="lazy"
                  width="{{ block.settings.image.width }}"
                  height="{{ block.settings.image.height }}">
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</modal-dialog>
{% schema %}
  {
    "name": "Size guide",
    "settings": [
      {
        "type": "text",
        "id": "description",
        "label": "Description"
      }
    ],
    "blocks": [
      {
        "type": "type",
        "name": "Product type",
        "settings": [
          {
            "type": "text",
            "id": "type",
            "label": "Product type"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Sizeguide image"
          }
        ]
      }
    ]
  }
{% endschema %}