
{% assign type = product.type | downcase %}

{% for block in section.blocks %}
  {% if block.settings.title %}
    {% assign sizeGuideTitle = block.settings.title | downcase %}
    {% if sizeGuideTitle == type %}
      {% assign activeElement = block.settings.title %}
    {% else %}
      {% if forloop.first %}
        {% assign activeElement = block.settings.title %}
      {% endif %}
    {% endif %}
  {% endif %}
{% endfor %}

<modal-dialog id="PopupModal-Sizeguide" class="hidden fixed top-0 left-0 bg-black bg-opacity-20 w-full h-full z-20">
  <div class="absolute p-4 lg:p-6 bg-background h-fit left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 max-h-[calc(100vh_-_32px)] w-[865px] max-w-[calc(100vw_-_32px)] scrollbar-thin overflow-y-auto rounded-xl">
    <tabs-component class="sizeguide normal-tab">
      <div class="mb-4 lg:mb-6 w-fit mx-auto ">
        <div class="flex items-center justify-between">
          <span class="text-h5 lg:text-h4 text-center !font-medium text-primary capitalize font-heading">{{ 'products.product.size_guide' | t }}</span>
          <span class="text-primary cursor-pointer bg-background w-10 h-10 flex items-center justify-center rounded-full close">
            {% render 'icon-close', class: 'w-6 h-6' %}
          </span>
        </div>
        <select-toggle class="hidden py-2 pl-4 pr-3 border border-solid border-primary relative rounded-[100px] clickout-accordion">
          <div class="summary flex items-center gap-2 text-primary cursor-pointer">
            <span class="value text-sm leading-5 text-primary" data-value="{{ activeElement }}">{{ activeElement }}</span>
            {% render 'icon-down', class: 'w-5 h-5 icon-add' %}
            {% render 'icon-up', class: 'w-5 h-5 icon-minus' %}
          </div>
          <div class="details dropitem absolute top-full left-0 bg-background rounded-b-sm w-max min-w-full shadow-megamenu">
            <ul class="w-full py-3 pr-3 pl-4">
              {% for block in section.blocks %}
                {% if block.settings.title %}
                  <li class="tab-heading transition-colors rounded cursor-pointer text-sm leading-5 text-primary p-2{% if block.settings.title == activeElement %} active{% endif %}" data-id="{{ block.id }}" data-value="{{ block.settings.title }}">{{ block.settings.title }}</li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        </select-toggle>
      </div>
      <div class="tabs-detail">
        {% for block in section.blocks %}
          <div class="tab-detail{% unless block.settings.title == activeElement %} hidden{% endunless %}" data-id="{{ block.id }}">
            {% if block.settings.feature_image != blank %}
              <img srcset="{%- if block.settings.feature_image.width >= 165 -%}{{ block.settings.feature_image | image_url: width: 165 }} 165w,{%- endif -%}
                  {%- if block.settings.feature_image.width >= 267 -%}
                    {{ block.settings.feature_image | image_url: width: 267 }} 267w{%- endif -%}"
                  src="{{ block.settings.feature_image | image_url: width: 267 }}"
                  sizes="267px"
                  alt="{{ block.settings.feature_image | split: "/" | last | replace: "-", " " | split: "." | first }}"
                  class="block mb-4 lg:mb-12 mx-auto rounded-lg overflow-hidden bg-image-placeholder bg-no-repeat bg-cover bg-center text-transparent"
                  loading="lazy"
                  width="267"
                  height="{{ 267 | divided_by: block.settings.feature_image.aspect_ratio }}">
            {% endif %}
            <caculator-size class="block mb-4" data-unit="cm">
              <form class="size-unit flex items-center gap-4 lg:gap-5 w-fit mb-4 lg:mb-5 ml-auto">
                <div class="relative">
                  <input type="radio" name="unit" class="opacity-0 invisible absolute" value="in" id="in-{{ block.id }}"/>
                  <label class="flex items-center gap-1.5 lg:gap-1 cursor-pointer text-center text-xs leading-3 lg:text-sm lg:leading-3 font-normal lowercase lg:uppercase transition-all !bg-transparent !text-primary hover:!text-primary change-resize change-resize-in" data-unit="in" for="in-{{ block.id }}">
                    {% render 'icon-radio', class: 'icon-radio hidden w-4 h-4' %}
                    {% if settings.country == "UK" %} 
                      {% render 'icon-radio-checked', class: 'icon-radio-checked hidden w-4 h-4 text-primary' %}
                    {% else %}
                      {% render 'icon-radio-checked', class: 'icon-radio-checked hidden w-4 h-4' %}
                    {% endif %}
                    <span class="hidden lg:block">inch</span>
                    <span class="block lg:hidden">in</span>
                  </label>
                </div>
                <div class="relative">
                  <input type="radio" name="unit" class="opacity-0 invisible absolute" value="cm" id="cm-{{ block.id }}" checked/>
                  <label class="flex items-center gap-1.5 lg:gap-1 cursor-pointer text-center text-xs leading-3 lg:text-sm lg:leading-3 font-normal lowercase lg:uppercase transition-all !bg-transparent !text-primary hover:!text-primary change-resize change-resize-cm active" data-unit="cm" for="cm-{{ block.id }}">
                    {% render 'icon-radio', class: 'icon-radio block w-4 h-4' %}
                    {% if settings.country == "UK" %} 
                      {% render 'icon-radio-checked', class: 'icon-radio-checked hidden w-4 h-4 text-primary' %}
                    {% else %}
                      {% render 'icon-radio-checked', class: 'icon-radio-checked hidden w-4 h-4' %}
                    {% endif %}
                    <span class="hidden lg:block">Centimeter</span>
                    <span class="block lg:hidden">cm</span>
                  </label>
                </div>
              </form>
              <div class="sizeguide">
                {% assign table = block.settings.page.content | split: '</td>' %}
                {% assign newTable = '' %}
                {% for item in table %}
                  {% assign tag = item | split: '>' | last | prepend: '<td data-in="' | append: '"' %}
                  {% assign tableCol = item | replace: '<td', tag | append: '</td>' %}
                  {% assign newTable = newTable | append: tableCol %}
                {% endfor %}
                {{ newTable }}
              </div>
            </caculator-size>
          </div>
        {% endfor %}
      </div>
    </tabs-component>

  </div>
</modal-dialog>
<script defer>


</script>
{% schema %}
  {
    "name": "Size guide",
    "settings": [],
    "blocks": [
      {
        "type": "type",
        "name": "Product type",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Product type"
          },
          {
            "type": "image_picker",
            "id": "feature_image",
            "label": "Product feature image"
          },
          {
            "type": "page",
            "id": "page",
            "label": "Product sizeguide page"
          }
        ]
      }
    ]
  }
{% endschema %}