{% assign linklist = linklists[section.settings.menu] %}
{% for grandParentLink in linklist.links %}
  {% if grandParentLink.links.size == 0 and grandParentLink.url == collection.url%}
    {% assign mainList = linklist.links %}
    {% break %}
  {% endif %}
  {% if grandParentLink.links.size > 0 %}
    {% if grandParentLink.url == collection.url %}
      {% assign mainList = grandParentLink.links %}
      {% break %}
    {% else %}
      {% for parentLink in grandParentLink.links %}
        {% if parentLink.links.size == 0 and parentLink.url == collection.url%}
          {% assign mainList = grandParentLink.links %}
          {% break %}
        {% endif %}
        {% if parentLink.links.size > 0 %}
          {% if parentLink.url == collection.url %}
            {% assign mainList = parentLink.links %}
            {% break %}
          {% else %}
            {% for childLink in parentLink.links %}
              {% if childLink.url == collection.url %}
                {% assign mainList = parentLink.links %}
                {% break %}
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endif %}
{% endfor %}

{% if mainList and current_page <= 1 %}
  <div class="page-width-desktop relative">
    <slider-component class="block overflow-hidden rounded pl-4 md:px-0">
      <button type="button" name="previous" aria-label="previous" class="prev-{{ section.id }} w-[36px] h-[36px] lg:w-[44px] lg:h-[44px] font-normal hidden absolute top-1/2 -translate-y-1/2 -left-2 z-10 cursor-pointer disabled:opacity-0 disabled:invisible text-primary bg-background rounded-full lg:flex lg:items-center lg:justify-center transition-all duration-300 hover:text-background hover:bg-primary shadow-megamenu before:content-empty before:block before:w-full before:h-full before:absolute before:-z-10 before:right-0 before:translate-x-[calc(100%_+_12px)] before:bg-gradient-to-l before:from-transparent before:to-background">{%- render 'icon-prev' -%}</button>
      <div class="flex slider-wrapper slider-on-mobile slider-on-tablet slider-on-desktop">
        {% for link in mainList limit: 10 %}
          {% if link.url != collection.url %}
            {% assign linkHandle = link.url | split: '/' | last %}
            <a href="{{ link.url }}" data-handle="" class="slider-slide group !w-fit mr-2 border border-solid text-sm leading-[18px] lg:text-base lg:leading-[22px] border-primary text-primary rounded lg:rounded-md inline-block !transition-all !duration-300 hover:border-secondary hover:text-background hover:bg-secondary" title="{{ link.title }}">
              <h2 class="text-sm leading-[18px] lg:text-base lg:leading-[22px] capitalize px-4 lg:px-6 h-[34px] lg:h-[42px] font-normal flex items-center justify-center">
                {{ link.title }} {% if collections[linkHandle].all_products_count %}<span class="!inline text-primary text-xs ml-1.5 lg:text-sm font-normal lg:ml-2 group-hover:text-primary font-body transition-all before:content-[var(--count)]" style="--count: '{{ collections[linkHandle].all_products_count }}'"></span>{% endif %}
              </h2>               
            </a>
          {% endif %}
        {% endfor %}
      </div>
      <div class="slider-counter caption !hidden">
        <span class="slider-counter--current">1</span>
        <span aria-hidden="true"> / </span>
        <span class="slider-counter--total"></span>
      </div>
      <button type="button" name="next" aria-label="next" class="next-{{ section.id }} w-[36px] h-[36px] lg:w-[44px] lg:h-[44px] font-normal hidden absolute top-1/2 -translate-y-1/2 -right-2 z-10 cursor-pointer disabled:opacity-0 disabled:invisible text-primary bg-background rounded-full lg:flex lg:items-center lg:justify-center transition-all duration-300 hover:text-background hover:bg-primary shadow-megamenu before:content-empty before:block before:w-full before:h-full before:absolute before:-z-10 before:left-0 before:-translate-x-[calc(100%_+_12px)] before:bg-gradient-to-r before:from-transparent before:to-background">{%- render 'icon-next' -%}</button>
      <div class="slider-dots !hidden"></div>
    </slider-component>
  </div>
{% endif %}

{% schema %}
  {
    "name": "Collection navigation",
    "settings": [
      {
        "type": "link_list",
        "id": "menu",
        "default": "main-menu",
        "label": "Collection navigation"
      }
    ],
    "presets": [
      {
        "name": "Collection navigation"
      }
    ]
  }
  {% endschema %}