<link rel="stylesheet" href="{{ 'page-banner.css' | asset_url }}" />

{% style %}
  [data-section-id="{{ section.id }}"] {
  {% if template contains 'cart' and cart.item_count == 0 %}display: none!important;{% endif %}
    background: {% if section.settings.background_color %}{{ section.settings.background_color }}
  {% endif %}{% if section.settings.background_image_mb %} url({{ section.settings.background_image_mb | img_url: 'master' }}){% endif %}
no-repeat;
  background-size: cover;
  margin-top: {{ section.settings.margin_top_mb }}px;
  margin-bottom: {{ section.settings.margin_bottom_mb }}px;
  padding-left: {{ section.settings.padding_vertical_mb }}px;
  padding-right: {{ section.settings.padding_vertical_mb }}px;
  padding-top: {{ section.settings.padding_horizontal_mb }}px;
  padding-bottom: {{ section.settings.padding_horizontal_mb }}px;

}
@media(min-width: 1024px) {
  [data-section-id="{{ section.id }}"] {
    background: {% if section.settings.background_color %}{{ section.settings.background_color }}
  {% endif %}{% if section.settings.background_image %} url({{ section.settings.background_image | img_url: 'master' }}){% endif %}
no-repeat;
  margin-top: {{ section.settings.margin_top }}px;
  margin-bottom: {{ section.settings.margin_bottom }}px;
  padding-left: {{ section.settings.padding_vertical }}px;
  padding-right: {{ section.settings.padding_vertical }}px;
  padding-top: {{ section.settings.padding_horizontal }}px;
  padding-bottom: {{ section.settings.padding_horizontal }}px;
}
}

[data-section-id="{{ section.id }}"] h1  {
  color: {{ section.settings.color_title }};
}
[data-section-id="{{ section.id }}"] a,
[data-section-id="{{ section.id }}"] .toggle-truncate * {
  color: {{ section.settings.color_link }};
}
[data-section-id="{{ section.id }}"] p,
[data-section-id="{{ section.id }}"] span {
  color: {{ section.settings.color_subtitle }};
}
{% endstyle %}

<div class="{% if template contains 'collection' %}page-width{% else %}page-width-desktop{% endif %}">
  <div data-section-id="{{ section.id }}" class="rounded-lg bg-cover">
    {% if template contains 'product' %}
    {% elsif template == 'cart' %}
      <h1 class="page-title text-center capitalize text-h3 lg:text-h2">{{ 'cart.title' | t }}</h1>
    {% elsif template contains 'collection' and collection.handle %}
      <h1 class="page-title capitalize text-h4 text-center md:text-left">{{ collection.title }}</h1>
      {% unless collection.description == blank %}
        <div class="details text-sm lg:text-base !leading-6 font-normal overflow-hidden ">{{ collection.description }}</div>
      {% endunless %}
    {% elsif template == 'list-collections' %}
      <h1 class="page-title text-center uppercase text-h3 lg:text-h2">{{ page_title }}</h1>
    {% elsif template == 'blog' %}
      <h1 class="page-title text-2xl leading-tight font-medium m-0 tracking-normal font-heading">{{ blog.title }}</h1>
    {% elsif template contains 'article' %}
    {% elsif template contains 'page' %}
      {% if template.suffix contains 'collection' %}
        <h1 class="page-title capitalize text-h3 lg:text-h2 mb-4">{{ page.title }}</h1>
        <div class="text-base leading-4">
          {{ page.content }}
        </div>
      {% else %}
        <h1 class="page-title text-center capitalize text-h3 lg:text-h2">{{ page.title }}</h1>
      {% endif %}
    {% elsif template contains 'search' %}
      <h1 class="page-title text-h5 lg:text-h3 font-semibold font-heading mb-3 lg:mb-4">{{ 'templates.search.title' | t }}</h1>
      <p class="text-sm lg:text-base !leading-6 font-normal">
        {{ 'templates.search.results_with_count_and_term' | t: terms: search.terms, count: search.results_count }}
      </p>
    {% else %}
      <h1 class="page-title text-center capitalize text-h3 lg:text-h2">{{ page_title }}</h1>
    {% endif %}
  </div>
</div>

{% capture src_url %}{{ 'page-banner.js' | asset_url }}{% endcapture %}
  {% render 'atom_script', src: src_url, priority: 'normal', type: "defer" %}
{% capture truncate %}{{ 'truncate.js' | asset_url }}{% endcapture %}
  {% render 'atom_script', src: truncate, priority: 'normal', type: "defer" %}

{% schema %}
  {
    "name": "Page banner",
    "tag": "section",
    "settings": [
      {
        "type": "color",
        "id": "color_title",
        "label": "Color title",
        "default": "#000"
      },
      {
        "type": "color",
        "id": "color_link",
        "label": "Color link",
        "default": "#000"
      },
      {
        "type": "color",
        "id": "color_subtitle",
        "label": "Color subtitle",
        "default": "#ECECEC"
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Background color",
        "default": "#FFFFFF"
      },
      {
        "type": "image_picker",
        "id": "background_image",
        "label": "Background image",
        "info": "Only show when collection image blank"
      }, {
        "type": "image_picker",
        "id": "background_image_mb",
        "label": "Background image mobile",
        "info": "Only show when collection image blank"
      }, {
        "type": "richtext",
        "id": "subtile",
        "default": "<p>Slash Sales begins in April. Get up to 80% Discount on all products...</p>",
        "label": "Subtitle"
      }, {
        "type": "header",
        "content": "Padding desktop"
      }, {
        "type": "range",
        "id": "padding_vertical",
        "min": 0,
        "max": 200,
        "step": 4,
        "unit": "px",
        "label": "Padding vertical",
        "default": 32
      }, {
        "type": "range",
        "id": "padding_horizontal",
        "min": 0,
        "max": 200,
        "step": 4,
        "unit": "px",
        "label": "Padding horizontal",
        "default": 32
      }, {
        "type": "header",
        "content": "Padding mobile"
      }, {
        "type": "range",
        "id": "padding_vertical_mb",
        "min": 0,
        "max": 200,
        "step": 4,
        "unit": "px",
        "label": "Padding vertical ",
        "default": 16
      }, {
        "type": "range",
        "id": "padding_horizontal_mb",
        "min": 0,
        "max": 200,
        "step": 4,
        "unit": "px",
        "label": "Padding horizontal",
        "default": 16
      }, {
        "type": "header",
        "content": "Margin desktop"
      }, {
        "type": "range",
        "id": "margin_top",
        "min": 0,
        "max": 200,
        "step": 4,
        "unit": "px",
        "label": "Margin top",
        "default": 16
      }, {
        "type": "range",
        "id": "margin_bottom",
        "min": 0,
        "max": 200,
        "step": 4,
        "unit": "px",
        "label": "Margin bottom",
        "default": 16
      }, {
        "type": "header",
        "content": "Margin mobile"
      }, {
        "type": "range",
        "id": "margin_top_mb",
        "min": 0,
        "max": 200,
        "step": 4,
        "unit": "px",
        "label": "Margin top ",
        "default": 16
      }, {
        "type": "range",
        "id": "margin_bottom_mb",
        "min": 0,
        "max": 200,
        "step": 4,
        "unit": "px",
        "label": "Margin bottom",
        "default": 16
      }
    ],
    "presets": [
      {
        "name": "Page banner"
      }
    ]
  }
{% endschema %}