{%- if media.media_type == 'video' or media.media_type == 'external_video' -%}
<span class="product__media-icon motion-reduce">        
  {%- if media.media_type == 'model' -%}
    {%- render 'icon-3d-model' -%}
  {%- else -%}
    {%- render 'icon-play' -%}
  {%- endif -%}
</span>
  <img
    srcset="{% if media.preview_image.width >= 288 %}{{ media.preview_image | image_url: width: 288 }} 288w,{% endif %}
      {% if media.preview_image.width >= 576 %}{{ media.preview_image | image_url: width: 576 }} 576w,{% endif %}
      {% if media.preview_image.width >= 750 %}{{ media.preview_image | image_url: width: 750 }} 750w,{% endif %}
      {% if media.preview_image.width >= 1100 %}{{ media.preview_image | image_url: width: 1100 }} 1100w,{% endif %}
      {% if media.preview_image.width >= 1500 %}{{ media.preview_image | image_url: width: 1500 }} 1500w,{% endif %}
      {{ media.preview_image | image_url: width: 2200 }} {{ media.preview_image.width }}w"
    src="{{ media | image_url: width: 1500 }}"
    sizes="(min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw - 4rem)"
    loading="lazy"
    class="motion-reduce"
    width="576"
    height="576"
    alt="{{ media.preview_image.alt | escape }}"
    
  >
{%- else -%}
  {%- if media.media_type == 'model' -%}
    <span class="product__media-icon motion-reduce">
        {%- render 'icon-3d-model' -%}
    </span>
  {%- endif -%}
  <img
    srcset="{% if media.preview_image.width >= 288 %}{{ media.preview_image | image_url: width: 288 }} 288w,{% endif %}
      {% if media.preview_image.width >= 576 %}{{ media.preview_image | image_url: width: 576 }} 576w,{% endif %}
      {% if media.preview_image.width >= 750 %}{{ media.preview_image | image_url: width: 750 }} 750w,{% endif %}
      {% if media.preview_image.width >= 1100 %}{{ media.preview_image | image_url: width: 1100 }} 1100w,{% endif %}
      {% if media.preview_image.width >= 1500 %}{{ media.preview_image | image_url: width: 1500 }} 1500w,{% endif %}
      {{ media.preview_image | image_url: width: 2200 }} {{ media.preview_image.width }}w"
    src="{{ media | image_url: width: 1500 }}"
    sizes="(min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw - 4rem)"
    loading="lazy"
    class="motion-reduce"
    width="576"
    height="576"
    alt="{{ media.preview_image.alt | escape }}"
  >
{%- endif -%}