{% assign aspect_ratio = media.aspect_ratio | default: 1.0 %}
{% unless width %}
  {% assign width = media.preview_image.width %}
{% endunless %}

<div class="relative w-full gallery-thumb" style="padding-bottom: {{ aspect_ratio | times: 100 }}%">
  {%- if media.media_type == 'image' -%}
    <img
      srcset="{%- if width >= 330 -%}
        {{ media.preview_image | image_url: width: 330 }} 165w,{%- endif -%}
      {%- if width >= 720 -%}
        {{ media.preview_image | image_url: width: 720 }} 360w,{%- endif -%}
      {%- if width >= 1066 -%}
        {{ media.preview_image | image_url: width: 1066 }} 533w,{%- endif -%}
      {%- if width >= 1440 -%}
        {{ media.preview_image | image_url: width: 1440 }} 720w,{%- endif -%}
      {%- if width >= 1880 -%}
        {{ media.preview_image | image_url: width: 1880 }} 940w,{%- endif -%}
      {%- if width >= 2500 -%}
        {{ media.preview_image | image_url: width: 2500 }} 1066w,{%- endif -%}"
      sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
      src="{{ media.preview_image | image_url }}"
      {% if lazy_load %}
      loading="lazy"
      {% endif %}
      class="absolute top-0 left-0 block w-full h-full object-cover bg-image-placeholder bg-no-repeat bg-cover bg-center text-transparent"
      width="{{ width }}"
      height="{{ width | divided_by: aspect_ratio }}"
      data-media-id="{{ media.id }}"
      alt="{{ media.preview_image | split: "/" | last | replace: "-", " " | split: "." | first }}">
  {%- else -%}
    {%- case media.media_type -%}
      {%- when 'external_video' -%}
        {%- assign video_class = 'js-' | append: media.host -%}
        {%- if media.host == 'youtube' -%}
          {{ media | external_video_url: autoplay: true, muted: true, loop: true, playlist: media.external_id | external_video_tag: class: "w-full h-auto aspect-1", loading: "lazy" }}
        {%- else -%}
          {{ media | external_video_url: autoplay: true, muted: true, loop: true | external_video_tag: class: "w-full h-auto aspect-1", loading: "lazy" }}
        {%- endif -%}
      {%- when 'video' -%}
        {{ media | media_tag: image_size: "2048x", autoplay: true, muted: true, loop: true, class: 'w-full h-auto aspect-1', controls: true, preload: "none" }}
      {%- when 'model' -%}
        {{ media | media_tag: image_size: "2048x", toggleable: true, class: 'w-full h-auto aspect-1' }}
    {%- endcase -%}
  {%- endif -%}
</div>

