<!doctype html>
  <html class="no-js full-height" lang="{{ request.locale.iso_code }}">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <meta name="theme-color" content="">
      <link rel="canonical" href="{{ canonical_url }}">
      <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
      <link rel="stylesheet" href="https://rsms.me/inter/inter.css">

      {%- if settings.favicon != blank -%}
        <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
      {%- endif -%}
      
      {% render 'font' %}

      {% style %}
        :root {
          {% if settings.type_font == 'shopify' %}
            --font-heading: {{ settings.type_heading_font.family }};
            --font-body: {{ settings.type_body_font.family }};  
          {% else %}
            --font-heading: "Grandstander", cursive;
            --font-body: "Grandstander";  
          {% endif %}
          --page-width: {{ settings.container | append: 'px' }};
          --page-width-2: {{ settings.container_2 | append: 'px' }};
          --container-pading-desktop: {{ settings.padding_desktop | append: 'px' }};
          --container-pading-tablet: {{ settings.padding_tablet | append: 'px' }};
          --container-pading-mobile: {{ settings.padding_mobile | append: 'px' }};
          --color-primary: {{ settings.color_primary }};
          --color-secondary: {{ settings.color_secondary }};
          --color-body: {{ settings.color_body_text }};
          --color-subtext: {{ settings.color_subtext }};
          --color-border: {{ settings.color_border }};
          --color-background: {{ settings.color_background }};
          --color-error: {{ settings.color_error }};
          --color-warning: {{ settings.color_warning }};
          --color-success: {{ settings.color_success }};
          --color-sale: {{ settings.sale_label_bg }};
          --color-hot: {{ settings.hot_label_bg }};
          --color-sold-out: {{ settings.sold_out_badge_color }};
          --color-new: {{ settings.new_label_bg }};
        }
      {% endstyle %}
      <title>{{ shop.name }}</title>
  
      <meta name="description" content="{{ page_description | escape }}">

      {{ content_for_header }}

      {{ 'theme.css' | asset_url | stylesheet_tag }}
  
      <script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');</script>
      <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>
    </head>
  
    <body>

      {% section 'header' %}
  
      <main id="MainContent" class="password-main">
        {{ content_for_layout }}
        {%- form 'storefront_password', class: 'password-form page-width flex gap-4 justify-center py-10' -%}
          <div class=" field{% if form.errors %} password-field--error{% endif %}">
            <input
              type="password"
              name="password"
              id="Password"
              class="placeholder:!text-gray-500 !border !border-primary !rounded-3xl w-full h-full lg:h-12 pr-14 pl-8 lg:overflow-hidden appearance-none !outline-none !shadow-none !ring-transparent"
              autocomplete="current-password"
              {% if form.errors %}
                aria-invalid="true"
                aria-describedby="PasswordLoginForm-password-error"
              {%- endif -%}
              placeholder="Password"
            >
            {%- if form.errors -%}
              <div id="PasswordLoginForm-password-error" role="status">
                <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                <span class="form__message">err</span>
              </div>
            {%- endif -%}
          </div>
          <button type="submit" name="commit" class="btn">
            submit
          </button>
        {%- endform -%}
      </main>
      <footer>
        {% section 'footer' %}
      </footer>
      
    </body>
  </html>
  