<div class="page-width"></div>
<div class="relative page-width flex bg-background lg:justify-between items-center lg:h-auto lg:min-h-[41px] gap-5 border-b border-border lg:border-none">
  <ul class="w-full flex items-center lg:hidden gap-3 lg:gap-5" style="max-width: fit-content; @media (min-width: 1024px) {max-width: calc((100% - {{ settings.logo_width }}px)/2);}">
    <li class="block w-6 h-6">
      <modal-opener class="inline-block cursor-pointer menu-drawer-out-search hover:text-primary text-primary" data-id="#menu-drawer">
        {% render 'icon-hamburger'
          , class: "w-6 h-6" %}
      </modal-opener>
    </li>

  </ul>
  <div class="flex items-center gap-x-10 flex-none lg:!max-w-1/4 lg:w-full">
    {%- if settings.logo != blank -%}
      <a
        href="{{ routes.root_url }}"
        class="{% if settings.logo_mb != blank %}hidden lg:inline-block {% else %}inline-block {% endif %}no-underline"
        title="{{ shop.name }}"
        style="max-width: {{ settings.logo_width }}px;">
        {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
        {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
        <img
          srcset="{%- if settings.logo.width >= 100 -%}{{ settings.logo | img_url: '100x' }} 100w,{%- endif -%}
        {%- if settings.logo.width >= 120 -%}{{ settings.logo | img_url: '120x' }} 120w,{%- endif -%}
        {%- if settings.logo.width >= 140 -%}{{ settings.logo | img_url: '140x' }} 140w,{%- endif -%}
        {%- if settings.logo.width >= 160 -%}{{ settings.logo | img_url: '160x' }} 160w,{%- endif -%}
        {%- if settings.logo.width >= 180 -%}{{ settings.logo | img_url: '180x' }} 180w,{%- endif -%}
        {%- if settings.logo.width >= 200 -%}{{ settings.logo | img_url: '200x' }} 200w,{%- endif -%}
        {{ settings.logo | img_url: 'master' }} {{ settings.logo_width }}w"
          src="{{ settings.logo | image_url: width: settings.logo_width }}"
          loading="lazy"
          sizes="{{ settings.logo_width }}px"
          width="{{ settings.logo_width }}"
          height="{{ logo_height }}"
          alt="{{ logo_alt }}">
      </a>
    {%- endif -%}

    {%- if settings.logo_mb != blank -%}
      <a
        href="{{ routes.root_url }}"
        class="{% if settings.logo != blank %}inline-block lg:hidden {% else %}inline-block {% endif %}no-underline"
        title="{{ shop.name }}"
        style="max-width: {{ settings.logo_width_mb }}px;">
        {%- assign logo_mb_alt = settings.logo_mb.alt | default: shop.name | escape -%}
        {%- assign logo_mb_height = settings.logo_mb_width | divided_by: settings.logo_mb.aspect_ratio -%}
        <img
          srcset="{%- if settings.logo_mb.width >= 100 -%}{{ settings.logo_mb | img_url: '100x' }} 100w,{%- endif -%}
        {%- if settings.logo_mb.width >= 120 -%}{{ settings.logo_mb | img_url: '120x' }} 120w,{%- endif -%}
        {%- if settings.logo_mb.width >= 140 -%}{{ settings.logo_mb | img_url: '140x' }} 140w,{%- endif -%}
        {%- if settings.logo_mb.width >= 160 -%}{{ settings.logo_mb | img_url: '160x' }} 160w,{%- endif -%}
        {%- if settings.logo_mb.width >= 180 -%}{{ settings.logo_mb | img_url: '180x' }} 180w,{%- endif -%}
        {%- if settings.logo_mb.width >= 200 -%}{{ settings.logo_mb | img_url: '200x' }} 200w,{%- endif -%}
        {{ settings.logo_mb | img_url: 'master' }} {{ settings.logo_mb_width }}w"
          src="{{ settings.logo_mb | image_url: width: settings.logo_width_mb }}"
          loading="lazy"
          sizes="{{ settings.logo_width_mb }}px"
          width="{{ settings.logo_width_mb }}"
          height="{{ logo_mb_height }}"
          alt="{{ logo_mb_alt }}">
      </a>
    {%- endif -%}
    {% if template contains 'index' %}
      <h1 class="hidden opacity-0 invisible">{{ shop.name }}</h1>
    {% endif %}
  </div>
  <predictive-search id="predictive-search" class="absolute top-full bg-background left-0 lg:relative py-0 flex justify-end lg:justify-start w-full lg:max-w-[600px] opacity-0 invisible lg:!opacity-100 lg:!visible">
    <form
      action="{{ routes.search_url }}"
      method="get"
      role="search"
      class="bg-background shadow-search lg:shadow-none flex items-center gap-3 top-full left-0 h-12 lg:mb-0 px-4 lg:p-0 z-10 transition-all lg:static w-full lg:overflow-hidden">
      <div class="relative w-full h-auto">
        <input
          class="placeholder:!text-gray-500 !border !border-border !rounded-3xl w-full h-10 lg:h-11 px-14 lg:pl-8 lg:overflow-hidden appearance-none !outline-none !shadow-none !ring-transparent"
          id="Search-In-Modal-1"
          type="search"
          name="q"
          value=""
          pattern="^(?=.*\S).+$"
          role="combobox"
          aria-expanded="false"
          aria-owns="predictive-search-results"
          aria-controls="predictive-search-results"
          aria-haspopup="listbox"
          aria-autocomplete="list"
          autocorrect="off"
          autocomplete="off"
          autocapitalize="off"
          spellcheck="false"
          placeholder="{{ 'general.search.placeholder' | t }}">
        <input
          type="hidden"
          name="options[prefix]"
          value="last">
        <button
          type="reset"
          name="reset"
          class="absolute right-4 top-1/2 -translate-y-1/2 opacity-0 invisible"
          aria-label="reset">{% render 'icon-close' %}</button>
        <button
          type="submit"
          name="search"
          class="absolute top-1/2 left-1.5 lg:left-auto lg:right-0 flex items-center justify-center -translate-y-1/2 w-7 h-7 bg-secondary text-background rounded-full lg:rounded-l-none lg:w-auto lg:h-full lg:px-2"
          aria-label="search">
          {% render 'icon-search'
            , class: 'w-4 h-4 lg:hidden' %}
          <span class="hidden lg:block text-sm uppercase font-medium">SEARCH</span>
        </button>
      </div>
      <span
        class="predictive-search-status hidden"
        role="status"
        aria-hidden="true"></span>
    </form>
    <div
      class="predictive-search predictive-search--header opacity-0 invisible transition-all absolute z-20 top-full left-1/2 w-screen lg:w-full -translate-x-1/2 bg-background shadow-megamenu overflow-y-auto max-h-searchmb pb-safe-offset-96 lg:pb-0"
      tabindex="-1"
      data-predictive-search>
      <div class="predictive-search__preview"></div>
    </div>
  </predictive-search>
  <ul class="w-full flex justify-end lg:!max-w-1/4 gap-3 lg:gap-5 ml-auto" style="max-width: calc((100% - {{ settings.logo_width }}px)*2/3 - 24px); @media (min-width: 1024px) {max-width: calc((100% - {{ settings.logo_width }}px)/2);}">
    <li class="block lg:hidden flex-none">
      <modal-opener class="lg:hidden no-underline flex items-center justify-center relative hover:text-primary text-primary" data-id="#predictive-search">
        {% render 'icon-search'
          , class: "w-5 h-5" %}
      </modal-opener>
    </li>

    <li>
      <a
        href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
        title="account"
        class="no-underline flex-none flex flex-col items-center justify-center relative gap-2 hover:text-primary text-primary{% if customer %} border border-primary rounded-full{% endif %}">
        <img
          src="{{ 'icon-user.png' | asset_img_url }}"
          class="block"
          width="20"
          height="20"
          alt="user">
        <span class="hidden lg:block capitalize text-base font-normal font-body leading-none text-center">
          {% if customer %}Account{% else %}Login{% endif %}
        </span>
      </a>
    </li>

    <li>
      {% if settings.enable_cart_drawer and template != 'cart' %}
        {% capture cartDrawer %}{{ 'open-cart-drawer.js' | asset_url }}{% endcapture %}
        {% render 'atom_script'
          , src: cartDrawer
          , priority: 'normal'
          , type: "defer" %}
        <modal-opener
          class="cursor-pointer flex-none flex flex-col items-center justify-center relative gap-2 hover:text-primary text-primary"
          title="cart"
          data-id="#cart-drawer">
          <img
            src="{{ 'icon-cart.png' | asset_img_url }}"
            class="block"
            width="20"
            height="20"
            alt="cart">
          <div id="cart-icon-bubble">
            <span class='hidden lg:block capitalize text-base font-normal font-body leading-none text-center {% if cart != empty %}text-secondary{% endif %}'>
              <span class='hidden lg:inline'>
                {%- if cart.item_count < 100 -%}
                  ({{ cart.item_count }})
                {% else -%}
                  (+99)
                {% endif -%}
              </span>
              Cart
            </span>
            <div class='lg:hidden absolute bg-special text-background min-w-[1rem] h-4 rounded-full flex justify-center items-center bottom-4.5 left-2.5 empty:hidden'>
              {%- if cart != empty -%}
                {%- if cart.item_count < 100 -%}
                  <span aria-hidden='true' class='flex justify-center items-center h-full text-xxs leading-none'>
                    {{- cart.item_count -}}
                  </span>
                {% else %}
                  <span aria-hidden='true' class='flex justify-center items-center h-full text-xxs'>+99</span>
                {%- endif -%}
              {%- endif -%}
            </div>
          </div>
        </modal-opener>
      {% else %}
        <a
          href="{{ routes.cart_url }}"
          class="flex-none flex flex-col items-center justify-center relative gap-2 hover:text-primary text-primary"
          title="cart">
          <img
            src="{{ 'icon-cart.png' | asset_img_url }}"
            class="block"
            width="20"
            height="20"
            alt="cart">
          <div id="cart-icon-bubble">
            <span class='hidden lg:block capitalize text-base font-normal font-body leading-none text-center {% if cart != empty %}text-secondary{% endif %}'>
              <span class='hidden lg:inline'>
                {%- if cart.item_count < 100 -%}
                  ({{ cart.item_count }})
                {% else -%}
                  (+99)
                {% endif -%}
              </span>
              Cart
            </span>
            <div class='lg:hidden absolute bg-special text-background min-w-[1rem] h-4 rounded-full flex justify-center items-center bottom-4.5 left-2.5 empty:hidden'>
              {%- if cart != empty -%}
                {%- if cart.item_count < 100 -%}
                  <span aria-hidden='true' class='flex justify-center items-center h-full text-xxs leading-none'>
                    {{- cart.item_count -}}
                  </span>
                {% else %}
                  <span aria-hidden='true' class='flex justify-center items-center h-full text-xxs'>+99</span>
                {%- endif -%}
              {%- endif -%}
            </div>
          </div>
        </a>
      {% endif %}
    </li>
  </ul>
</div>


{% if section.blocks.size > 0 %}
  {% render 'megamenu' %}
{% endif %}

{% capture src_url %}{{ 'header.js' | asset_url }}{% endcapture %}
{% render 'atom_script'
  , src: src_url
  , priority: 'normal'
  , type: "defer" %}

{% schema %}
  {
    "name": "Header",
    "tag": "header",
    "class": "sticky transition-all bg-background duration-200 z-10",
    "settings": [
      {
        "type": "link_list",
        "id": "top_menu",
        "label": "Top menu"
      }
    ],
    "blocks": [
      {
        "type": "mega-menu",
        "name": "Mega menu",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Mega navigation trigger"
          }, {
            "type": "url",
            "id": "url",
            "label": "Link"
          }, {
            "type": "link_list",
            "id": "menu",
            "label": "Megamenu"
          }, {
            "type": "checkbox",
            "label": "Primary color",
            "id": "primary",
            "default": false
          }
        ]
      }
    ]
  }
{% endschema %}