{%- style -%}
  [data-section-id="{{ section.id }}"] {
    background: {{ section.settings.background_color }};
    padding-top: {{ section.settings.padding_top_mb }}px;
    padding-bottom: {{ section.settings.padding_bottom_mb }}px;
  }
  @media screen and (min-width: 1024px) {
    [data-section-id="{{ section.id }}"] {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
  wishlist-count.hidden ~ svg {
    display: none;
  }
{%- endstyle -%}

<wishlist-wrapper class="block page-width" data-section-id="{{ section.id }}">
  <div class="flex items-center gap-2 px-3 py-3">
    <wishlist-count class="block capitalize text-base text-primary font-semibold leading-4 font-heading hidden">
      <span>0</span>
    </wishlist-count>
  </div>
  <div class="grid gap-4 grid-cols-{{ section.settings.product_per_row_mobile }} md:grid-cols-{{ section.settings.product_per_row_tablet }} lg:grid-cols-{{ section.settings.product_per_row }}" id="whislist-wrapper">
    <span class="!block py-20 relative spinning col-span-{{ section.settings.product_per_row_mobile }} md:col-span-{{ section.settings.product_per_row_tablet }} lg:col-span-{{ section.settings.product_per_row }}"></span>
  </div>
  <div class="hidden lg:py-10 lg:px-12 rounded-2xl" id="whislist-blank">
    <div class="text-center p-6 lg:py-20 rounded-2xl {% if settings.country == 'DE' or settings.country == 'UK' %}bg-secondary{% else %}bg-background{% endif %} max-w-full mx-auto">
      <span class="block text-center text-primary text-h5 lg:text-h4 mb-1 font-heading">{{ 'wishlist.wishlist_empty_note' | t }}</span>
      <span class="block text-center text-primary text-sm leading-5 lg:text-base lg:leading-6 font-normal max-w-[263px] lg:max-w-[386px] mx-auto mb-4 lg:mb-6">{{ 'wishlist.wishlist_empty_subtitle' | t }}</span>
      <a
        href="{{ routes.all_products_collection_url }}"
        title="{{ 'wishlist.wishlist_empty_continue_shopping' | t }}"
        class="block mx-auto w-fit btn btn-2 px-6 lg:px-8 py-3.5 text-sm leading-none uppercase lg:text-base lg:leading-none !font-heading !font-bold">{{ 'wishlist.wishlist_empty_continue_shopping' | t }}</a>
    </div>
  </div>
</wishlist-wrapper>

{% capture src_url %}{{ 'template-wishlist.js' | asset_url }}{% endcapture %}
{% render 'atom_script'
  , src: src_url
  , priority: 'normal'
  , type: "defer" %}

{% schema %}
  {
    "name": "Template wishlist",
    "tag": "section",
    "settings": [
      {
        "type": "range",
        "id": "product_per_row",
        "label": "Products per row desktop",
        "min": 1,
        "max": 5,
        "step": 1,
        "default": 4
      },
      {
        "type": "range",
        "id": "product_per_row_tablet",
        "label": "Products per row tablet",
        "min": 1,
        "max": 4,
        "step": 1,
        "default": 3
      },
      {
        "type": "range",
        "id": "product_per_row_mobile",
        "label": "Products per row mobile",
        "min": 1,
        "max": 3,
        "step": 1,
        "default": 2
      },
      {
        "type": "header",
        "content": "Common settings"
      }, {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 200,
        "step": 2,
        "unit": "px",
        "label": "Padding Top DeskTop",
        "default": 20
      }, {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 200,
        "step": 2,
        "unit": "px",
        "label": "Padding Bottom Desktop",
        "default": 92
      }, {
        "type": "header",
        "content": "Mobile settings"
      }, {
        "type": "range",
        "id": "padding_top_mb",
        "min": 0,
        "max": 200,
        "step": 2,
        "unit": "px",
        "label": "Padding Top Mobile",
        "default": 32
      }, {
        "type": "range",
        "id": "padding_bottom_mb",
        "min": 0,
        "max": 200,
        "step": 2,
        "unit": "px",
        "label": "Padding Bottom Mobile",
        "default": 32
      }
    ]
  }
{% endschema %}