{% style %}
  [data-section-id="{{ section.id }}"] {
    padding-top: {{ section.settings.padding_top_mb }}px;
    padding-bottom: {{ section.settings.padding_bottom_mb }}px;
  }
  @media (min-width: 1024px) {
    [data-section-id="{{ section.id }}"] {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{% endstyle %}

<div class="page-width" data-section-id="{{ section.id }}">
  <div class="w-full grid grid-cols-1 lg:grid-cols-2 gap-3 grid-rows-[min-content] auto-rows-min">
    <div class="w-full grid grid-cols-1 gap-3 grid-rows-[min-content] auto-rows-min">
      {% for block in section.blocks %}
        {% assign modulo = forloop.index | modulo: 2 %}
        {% if modulo != 0 and block.settings.question != blank and block.settings.answer != blank %}
          <accordion-toggle class="block w-full relative cursor-pointer bg-background rounded shadow-megamenu p-4 lg:p-6">
            <div class="summary flex items-start justify-between gap-3">
              <h3 class="inline-block text-base text-primary leading-4 font-heading font-semibold">{{ block.settings.question }}</h3>
              <span class="icon-add">{%- render 'icon-down', class: 'w-6 h-6 text-primary' -%}</span> 
              <span class="icon-minus">{%- render 'icon-up', class: 'w-6 h-6 text-primary' -%}</span>
            </div>
            <div class="details">
              {{ block.settings.answer }}
            </div>
          </accordion-toggle>
        {% endif %}
      {% endfor %}
    </div>
    <div class="w-full grid grid-cols-1 gap-3 grid-rows-[min-content] auto-rows-min">
      {% for block in section.blocks %}
        {% assign modulo = forloop.index | modulo: 2 %}
        {% if modulo == 0 and block.settings.question != blank and block.settings.answer != blank %}
          <accordion-toggle class="block w-full relative cursor-pointer bg-background rounded shadow-megamenu p-4 lg:p-6">
            <div class="summary flex items-start justify-between gap-3">
              <h3 class="inline-block text-base text-primary leading-4 font-heading font-semibold">{{ block.settings.question }}</h3>
              <span class="icon-add">{%- render 'icon-down', class: 'w-6 h-6 text-primary' -%}</span> 
              <span class="icon-minus">{%- render 'icon-up', class: 'w-6 h-6 text-primary' -%}</span>
            </div>
            <div class="details">
              {{ block.settings.answer }}
            </div>
          </accordion-toggle>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Template help center",
    "tag": "section",
    "settings": [
      {
        "type": "header",
        "content": "Pading desktop"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 200,
        "step": 4,
        "unit": "px",
        "label": "Pading top",
        "default": 16
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 200,
        "step": 4,
        "unit": "px",
        "label": "Pading bottom",
        "default": 16
      }, {
        "type": "header",
        "content": "Pading mobile"
      }, {
        "type": "range",
        "id": "padding_top_mb",
        "min": 0,
        "max": 200,
        "step": 4,
        "unit": "px",
        "label": "Pading top",
        "default": 16
      }, {
        "type": "range",
        "id": "padding_bottom_mb",
        "min": 0,
        "max": 200,
        "step": 4,
        "unit": "px",
        "label": "Pading bottom",
        "default": 16
      }
    ],
    "blocks": [
      {
        "type": "faq",
        "name": "Question and answer",
        "settings": [
          {
            "type": "text",
            "id": "question",
            "label": "Question"
          },
          {
            "type": "richtext",
            "id": "answer",
            "label": "Answer"
          }
        ]
      }
    ]
  }
{% endschema %}