<link rel="stylesheet" href="{{ 'template-help-center.css' | asset_url }}" />

{% style %}
  [data-section-id="{{ section.id }}"] {
    padding-top: {{ section.settings.padding_top_mb }}px;
    padding-bottom: {{ section.settings.padding_bottom_mb }}px;
  }
  @media (min-width: 1024px) {
    [data-section-id="{{ section.id }}"] {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{% endstyle %}

{%- capture contentForQuerystring -%}{{ content_for_header }}{%- endcapture -%}
{%- assign page_url = contentForQuerystring | split: '"pageurl":"' | last | split: '"' | first | split: '.myshopify.com' | last | replace: '\/', '/' | replace: '%20', ' ' | replace: '\u0026', '&' -%}
{%- assign page_url = page_url | remove: '?_fd=0&pb=0' | remove: '&_fd=0&pb=0' -%}
{%- assign params = page_url | split: '?' | last | split: '&' -%}
{%- for param in params -%}
  {%- assign key = param | split: '=' | first -%}
  {%- if key == 'q' -%}
    {%- assign terms = param | split: '=' | last | url_decode | strip -%}
  {%- endif -%}
{%- endfor -%}
{% liquid
  assign blog_results = section.settings.blog_results
  assign blocks = section.blocks
  assign blog_suggestion = section.settings.blog_suggestion
  assign results = 0
%}
{%- assign terms_search = terms | downcase | split: ' ' -%}
{%- for block in blocks -%}
  {% if block.type == 'blog' %}
    {% for article in block.settings.blog.articles %}
      {%- assign contains_result = false -%}
      {%- assign article_title = article.title | downcase -%}
      {%- assign blog_title = block.settings.blog | downcase -%}
      {%- for term in terms_search -%}
        {%- if article_title contains term or blog_title contains term or article.content contains term -%}
          {%- assign contains_result = true -%}
          {%- continue -%}
        {%- endif -%}
      {%- endfor -%}
      {%- if contains_result -%}
        {%- assign results = results | plus: 1 -%}
      {%- endif -%}
      {%- assign contains_result = false -%}
    {% endfor %}
  {% endif %}
{%- endfor -%}

<div class="page-width" data-section-id="{{ section.id }}">
  <div class="grid grid-cols-1 lg:grid-cols-2 items-center gap-4 lg:gap-6 mb-12 lg:mb-16">
    <div class="w-full text-center lg:text-left">
      <h1 class="text-h3 lg:text-h1 text-primary font-semibold mb-2 capitalize">{{- 'templates.search.title' | t -}}</h1>
      <p class="text-sm font-normal leading-5 text-primary lg:text-base lg:leading-6 px-4 lg:px-0 truncate-line one-line overflow-hidden break-words">{{ 'templates.search.results_with_count_and_term_html' | t: terms: terms, count: results }}</p>
    </div>
    <div class="w-full rounded-xl shadow-box lg:shadow-none grid gap-6 lg:gap-3 p-4 lg:p-0 mx-auto relative bg-background">
      <form
        action="/pages/search-help-center"
        method="get"
        role="search">
        <div class="relative">
          <input
            class="w-full border-primary border rounded-[100px] h-12.5 py-1 pl-6 pr-13 lg:pr-29 !ring-0 !ring-offset-0 !shadow-none focus:border-primary"
            id="Search-In-Modal-1"
            required
            type="search"
            name="q"
            pattern="^(?=.*\S).+$"
            value="{{ terms }}"
            placeholder="{{ 'general.search.placeholder' | t }}"><input
            type="hidden"
            name="options[prefix]"
            value="last">
          <button type="submit" class="absolute top-1/2 right-1 -translate-y-1/2 rounded-full btn !flex items-center justify-center !text-sm !leading-none !font-heading !font-bold w-10.5 h-10.5 lg:w-auto lg:px-6">
            {% render 'icon-search', class: 'w-6 h-6 lg:hidden' %}
            <span class="hidden lg:block">{{ 'general.search.search' | t }}</span>
          </button>
        </div>
      </form>
      <div class="flex flex-wrap gap-5 lg:px-6">
        <span class="uppercase text-xs font-normal leading-6 text-primary w-full lg:w-fit block lg:pr-5">{{ 'templates.search_help_center.popular_search' | t }}</span>
        <ul class="flex gap-5 flex-wrap">
          {% for block in section.blocks %}
            {% if block.type == 'popular' %}
              {% if block.settings.key_word %}
                <li data-value="{{ block.settings.key_word }}" class="suggestion">
                  <a href="/pages/search-help-center?q={{ block.settings.key_word | url_encode }}" class="flex gap-1.5 items-center capitalize cursor-pointer font-heading font-normal text-sm leading-2 text-primary hover:text-primary">
                    {% render 'icon-search', class: 'w-3.5 h-3.5' %}
                    <span>{{ block.settings.key_word }}</span>
                  </a>
                </li>
              {% endif %}
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  {%- if results > 0 and terms != blank -%}
    <div class="grid grid-cols-1 md:grid-cols-2 gap-2 lg:gap-4 grid-rows-[min-content] auto-rows-min">
      <div class="grid grid-cols-1 gap-2 lg:gap-4 grid-rows-[min-content] auto-rows-min">
        {% assign count = 0 %}
        {%- for block in blocks -%}
          {% if block.type == 'blog' %}
            {%- for article in block.settings.blog.articles -%}
              {%- assign contains_result = false -%}
              {%- assign article_title = article.title | downcase -%}
              {%- assign blog_title = block.settings.blog | downcase -%}
              {%- for term in terms_search -%}
                {%- if article_title contains term or blog_title contains term or article.content contains term -%}
                  {%- assign contains_result = true -%}
                  {%- continue -%}
                {%- endif -%}
              {%- endfor -%}
              {%- if contains_result -%}
                {% assign count = count | plus: 1 %}
                {% assign modulo = count | modulo: 2 %}
                {% if modulo != 0 %}
                  <accordion-toggle class="block w-full relative cursor-pointer bg-background rounded shadow-megamenu p-4 lg:p-6">
                    <div class="summary flex items-start justify-between gap-3 before:content-empty before:absolute before:top-0 before:left-0 before:w-full before:h-full before:block before:p-4 before:lg:p-6 before:lg:z-10">
                      <h3 class="inline-block text-base text-primary leading-4 font-heading font-semibold lg:text-lg lg:leading-4">{{ article.title }}</h3>
                      <span class="icon-add">{%- render 'icon-down', class: 'w-6 h-6 text-primary' -%}</span> 
                      <span class="icon-minus">{%- render 'icon-up', class: 'w-6 h-6 text-primary' -%}</span>
                    </div>
                    <div class="details shc-question">
                      {{ article.content }}
                    </div>
                  </accordion-toggle>
                {% endif %}
              {%- endif -%}
              {%- assign contains_result = false -%}
            {%- endfor -%}
          {% endif %}
        {%- endfor -%}
      </div>
      <div class="grid grid-cols-1 gap-2 lg:gap-4 grid-rows-[min-content] auto-rows-min">
        {% assign count = 0 %}
        {%- for block in blocks -%}
          {% if block.type == 'blog' %}
            {%- for article in block.settings.blog.articles -%}
              {%- assign contains_result = false -%}
              {%- assign article_title = article.title | downcase -%}
              {%- assign blog_title = block.settings.blog | downcase -%}
              {%- for term in terms_search -%}
                {%- if article_title contains term or blog_title contains term or article.content contains term -%}
                  {%- assign contains_result = true -%}
                  {%- continue -%}
                {%- endif -%}
              {%- endfor -%}
              {%- if contains_result -%}
                {% assign count = count | plus: 1 %}
                {% assign modulo = count | modulo: 2 %}
                {% if modulo == 0 %}
                  <accordion-toggle class="block w-full relative cursor-pointer bg-background rounded shadow-megamenu p-4 lg:p-6">
                    <div class="summary flex items-start justify-between gap-3 before:content-empty before:absolute before:top-0 before:left-0 before:w-full before:h-full before:block before:p-4 before:lg:p-6 before:lg:z-10">
                      <h3 class="inline-block text-base text-primary leading-4 font-heading font-semibold lg:text-lg lg:leading-4">{{ article.title }}</h3>
                      <span class="icon-add">{%- render 'icon-down', class: 'w-6 h-6 text-primary' -%}</span>
                      <span class="icon-minus">{%- render 'icon-up', class: 'w-6 h-6 text-primary' -%}</span>
                    </div>
                    <div class="details shc-question">
                      {{ article.content }}
                    </div>
                  </accordion-toggle>
                {% endif %}
              {%- endif -%}
              {%- assign contains_result = false -%}
            {%- endfor -%}
          {% endif %}
        {%- endfor -%}
      </div>
    </div>
  {%- else -%}
    <div class="p-6 lg:py-20 lg:px-10 flex justify-center items-center bg-background rounded-2xl overflow-hidden">
      <div class="flex flex-col items-center justify-center max-w-[295px] lg:max-w-[420px] mx-auto text-center">
        {% render 'icon-search-empty'
          , class: 'w-20 h-20 lg:w-40 lg:h-40 text-primary mb-3' %}
        <span class="block font-normal leading-6 text-base text-primary lg:text-lg lg:leading-6 mb-4 lg:mb-6 px-4 max-w-full">{{ 'templates.search_help_center.help_hub_subtitle_html' | t: terms: terms }}</span>
        <a href="/pages/help-center" class="btn btn-2 !text-sm !uppercase !font-bold !leading-none !font-heading py-3.5 px-6 h-10.5 flex justify-center items-center">{{ 'templates.search_help_center.back' | t }}</a>
      </div>
    </div>
    <div class="text-center max-w-[652px] mx-auto mt-24 mb-8 lg:mt-25 lg:mb-12">
      <h2 class="text-h4 text-primary lg:text-h3 font-heading mb-2 lg:mb-3">{{ 'templates.search_help_center.popular_questions' | t }}</h2>
      <p class="text-sm leading-5 font-normal text-primary lg:text-base">{{ 'templates.search_help_center.popular_questions_subtitle' | t }}</p>
    </div>
    {%- if blog_suggestion.articles.size > 0 -%}
      <div class="grid grid-cols-1 md:grid-cols-2 gap-2 lg:gap-4 grid-rows-[min-content] auto-rows-min">
        <div class="grid grid-cols-1 gap-2 lg:gap-4 grid-rows-[min-content] auto-rows-min">
          {% assign count = 0 %}
          {%- for article in blog_suggestion.articles limit: 8 -%}
            {% assign count = count | plus: 1 %}
            {% assign modulo = count | modulo: 2 %}
            {% if modulo != 0 %}
              <accordion-toggle class="block w-full relative cursor-pointer bg-background rounded shadow-megamenu p-4 lg:p-6">
                <div class="summary flex items-start justify-between gap-3 before:content-empty before:absolute before:top-0 before:left-0 before:w-full before:h-full before:block before:p-4 before:lg:p-6 before:lg:z-10">
                  <h3 class="inline-block text-base text-primary leading-4 font-heading font-semibold lg:text-lg lg:leading-4">{{ article.title }}</h3>
                  <span class="icon-add">{%- render 'icon-down', class: 'w-6 h-6 text-primary' -%}</span>
                  <span class="icon-minus">{%- render 'icon-up', class: 'w-6 h-6 text-primary' -%}</span>
                </div>
                <div class="details shc-question">
                  {{ article.content }}
                </div>
              </accordion-toggle>
            {% endif %}
          {%- endfor -%}
        </div>
        <div class="grid grid-cols-1 gap-2 lg:gap-4 grid-rows-[min-content] auto-rows-min">
          {% assign count = 0 %}
          {%- for article in blog_suggestion.articles limit: 8 -%}
            {% assign count = count | plus: 1 %}
            {% assign modulo = count | modulo: 2 %}
            {% if modulo == 0 %}
              <accordion-toggle class="block w-full relative cursor-pointer bg-background rounded shadow-megamenu p-4 lg:p-6">
                <div class="summary flex items-start justify-between gap-3 before:content-empty before:absolute before:top-0 before:left-0 before:w-full before:h-full before:block before:p-4 before:lg:p-6 before:lg:z-10">
                  <h3 class="inline-block text-base text-primary leading-4 font-heading font-semibold lg:text-lg lg:leading-4">{{ article.title }}</h3>
                  <span class="icon-add">{%- render 'icon-down'
, class: 'w-6 h-6 text-primary' -%}</span>
                  <span class="icon-minus">{%- render 'icon-up'
, class: 'w-6 h-6 text-primary' -%}</span>
                </div>
                <div class="details shc-question">
                  {{ article.content }}
                </div>
              </accordion-toggle>
            {% endif %}
          {%- endfor -%}
        </div>
      </div>
    {%- endif -%}
  {%- endif -%}
</div>

{% capture helpCenter %}{{ 'template-help-center.js' | asset_url }}{% endcapture %}
{% render 'atom_script'
  , src: helpCenter
  , priority: 'normal'
  , type: "defer" %}

{% schema %}
  {
    "name": "Search help center",
    "tag": "section",
    "settings": [
      {
        "type": "blog",
        "id": "blog_suggestion",
        "label": "Blog suggestion"
      },
      {
        "type": "header",
        "content": "Pading desktop"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 200,
        "step": 4,
        "unit": "px",
        "label": "Pading top",
        "default": 16
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 200,
        "step": 4,
        "unit": "px",
        "label": "Pading bottom",
        "default": 16
      }, {
        "type": "header",
        "content": "Pading mobile"
      }, {
        "type": "range",
        "id": "padding_top_mb",
        "min": 0,
        "max": 200,
        "step": 4,
        "unit": "px",
        "label": "Pading top",
        "default": 16
      }, {
        "type": "range",
        "id": "padding_bottom_mb",
        "min": 0,
        "max": 200,
        "step": 4,
        "unit": "px",
        "label": "Pading bottom",
        "default": 16
      }
    ],
    "blocks": [
      {
        "type": "popular",
        "name": "Popular search",
        "settings": [
          {
            "type": "text",
            "id": "key_word",
            "label": "Key word"
          }
        ]
      }, {
        "type": "blog",
        "name": "Blog",
        "settings": [
          {
            "type": "blog",
            "id": "blog",
            "label": "Blog"
          }, {
            "type": "url",
            "id": "url_refer",
            "label": "URL refer"
          }
        ]
      }
    ]
  }
{% endschema %}