{%- style -%}
  [data-section-id="{{ section.id }}"] {
    margin-top: {{ section.settings.margin_top_mb }}px;
    margin-bottom: {{ section.settings.margin_bottom_mb }}px;
    background: {{ section.settings.colors_background }};
  }
  {% for block in section.blocks %}
    [data-section-id="{{ section.id }}"] [data-block-id="{{ block.id }}"] {
      background: {{ block.settings.colors_background }};
    }
    [data-section-id="{{ section.id }}"] [data-block-id="{{ block.id }}"] .banner__heading {
      color: {{ block.settings.colors_heading }};
      font-size: {{ block.settings.heading_size_mb }}px;
    }
    [data-section-id="{{ section.id }}"] [data-block-id="{{ block.id }}"] .banner__description {
      color: {{ block.settings.colors_description }};
      font-size: {{ block.settings.description_size_mb }}px;
    }
    [data-section-id="{{ section.id }}"] [data-block-id="{{ block.id }}"] .banner__description {
      color: {{ block.settings.colors_content }};
      font-size: {{ block.settings.content_size_mb }}px;
    }
    @media(min-width: 768px) {
      [data-section-id="{{ section.id }}"] [data-block-id="{{ block.id }}"] .banner__heading {
        font-size: {{ block.settings.heading_size }}px;
      }
      [data-section-id="{{ section.id }}"] [data-block-id="{{ block.id }}"] .banner__description {
        font-size: {{ block.settings.description_size }}px;
      }
      [data-section-id="{{ section.id }}"] [data-block-id="{{ block.id }}"] .banner__content {
        font-size: {{ block.settings.content_size }}px;
      }
    }
  {% endfor %}
  @media(min-width: 768px) {
    [data-section-id="{{ section.id }}"] {
      margin-top: {{ section.settings.margin_top }}px;
      margin-bottom: {{ section.settings.margin_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="page-width overflow-hidden grid-cols-1 col-span-1 row-span-1 grid-cols-2 col-span-2 row-span-2 grid-cols-3 col-span-3 row-span-3 md:grid-cols-1 md:col-span-1 md:row-span-1 md:grid-cols-2 md:col-span-2 md:row-span-2 md:grid-cols-3 md:col-span-3 md:row-span-3 lg:grid-cols-1 lg:col-span-1 lg:row-span-1 lg:grid-cols-2 lg:col-span-2 lg:row-span-2 lg:grid-cols-3 lg:col-span-3 lg:row-span-3" data-section-id="{{ section.id }}">
  <div class="block relative page-width">
    <div class="grid grid-cols-{{ section.settings.col_per_row_mobile }} md:grid-cols-{{ section.settings.col_per_row_tablet }} lg:grid-cols-{{ section.settings.col_per_row_desktop }} gap-5">
      {%- for block in section.blocks -%}
        <div data-block-id="{{ block.id }}" id="Slide-{{ section.id }}-{{ forloop.index }}" class="
        {% if block.settings.rounded %}rounded-xl {% endif %} 
        w-full group relative overflow-hidden md:!m-0 md:!w-full 
        row-span-{{ block.settings.row_span_mobile }} col-span-{{ block.settings.col_span_mobile }} 
        md:row-span-{{ block.settings.row_span_tablet }} md:col-span-{{ block.settings.col_span_tablet }} 
        lg:row-span-{{ block.settings.row_span_desktop }} lg:col-span-{{ block.settings.col_span_desktop }}">
          {% if block.settings.image != blank or block.settings.image_mobile != blank %}
              {% assign ratioMb = block.settings.image_mobile.aspect_ratio | default: 1 %}
              {% assign ratioDt = block.settings.image.aspect_ratio | default: 1 %}
              {% assign altMb = block.settings.image_mobile | split: "/" | last | replace: "-", " " | split: "." | first %}
              {% assign altDt = block.settings.image | split: "/" | last | replace: "-", " " | split: "." | first %}
              <div class="w-full h-full block">
                <img srcset="{%- if block.settings.image.width >= 180 -%}{{ block.settings.image | image_url: width: 180 }} 180w,{%- endif -%}
                    {%- if block.settings.image.width >= 360 -%} {{ block.settings.image | image_url: width: 360 }} 360w,{%- endif -%}
                    {%- if block.settings.image.width >= 540 -%} {{ block.settings.image | image_url: width: 540 }} 540w,{%- endif -%}
                    {%- if block.settings.image.width >= 720 -%} {{ block.settings.image | image_url: width: 720 }} 720w,{%- endif -%}
                    {%- if block.settings.image.width >= 900 -%} {{ block.settings.image | image_url: width: 900 }} 900w,{%- endif -%}
                    {%- if block.settings.image.width >= 1080 -%} {{ block.settings.image | image_url: width: 1080 }} 1080w{%- endif -%}"
                    src="{{ block.settings.image | image_url: width: 700 }}"
                    sizes="(min-width: 1100px) 900px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                    alt="{{ altDt }}"
                    loading="lazy"
                    class="w-full h-full object-cover transition-all {% if block.settings.image_mobile %} hidden md:block{% else %} block{% endif %}"
                    width="{{ block.settings.image.width }}"
                    height="{{ block.settings.image.height }}">
                <img srcset="{%- if block.settings.image_mobile.width >= 180 -%} {{ block.settings.image_mobile | image_url: width: 180 }} 180w,{%- endif -%}
                    {%- if block.settings.image_mobile.width >= 360 -%} {{ block.settings.image_mobile | image_url: width: 360 }} 360w,{%- endif -%}
                    {%- if block.settings.image_mobile.width >= 540 -%} {{ block.settings.image_mobile | image_url: width: 540 }} 540w,{%- endif -%}
                    {%- if block.settings.image_mobile.width >= 720 -%} {{ block.settings.image_mobile | image_url: width: 720 }} 720w,{%- endif -%}
                    {%- if block.settings.image_mobile.width >= 900 -%} {{ block.settings.image_mobile | image_url: width: 900 }} 900w,{%- endif -%}
                    {%- if block.settings.image_mobile.width >= 1080 -%} {{ block.settings.image_mobile | image_url: width: 1080 }} 1080w{%- endif -%}"
                    src="{%- if block.settings.image_mobile.width >= 1080 -%} {{ block.settings.image_mobile | image_url: width: 1080 }}
                    {%- elsif block.settings.image_mobile.width >= 900 -%} {{ block.settings.image_mobile | image_url: width: 900 }}
                    {%- elsif block.settings.image_mobile.width >= 720 -%} {{ block.settings.image_mobile | image_url: width: 720 }}
                    {%- elsif block.settings.image_mobile.width >= 540 -%} {{ block.settings.image_mobile | image_url: width: 540 }}
                    {%- elsif block.settings.image_mobile.width >= 360 -%} {{ block.settings.image_mobile | image_url: width: 360 }}
                    {%- elsif block.settings.image_mobile.width >= 180 -%} {{ block.settings.image_mobile | image_url: width: 180 }}{%- endif -%}"
                  sizes="100vw"
                  alt="{{ altMb }}"
                  {% if forloop.first %}
                    loading="eager"
                  {% else %}
                    loading="lazy"
                  {% endif %}
                  class="w-full object-cover{% if block.settings.image %} block md:hidden{% else %} block{% endif %}"
                  width="768"
                  height="{{ 768 | divided_by: ratioMb }}">
              </div>
          {% endif %}
          {% if block.settings.heading != blank or block.settings.description != blank or block.settings.content != blank %}
              <div class="banner-content flex flex-col gap-4 {% if block.settings.text_align_item == 'center' %} justify-center items-center text-center{% elsif block.settings.text_align_item == 'left' %} justify-start items-start text-left{% else %} justify-end items-end text-right{% endif %}">
                {% if block.settings.heading != blank %}
                  <{{ block.settings.heading_tag }} class="banner__heading text-current leading-5 tracking-[0.5px]">{{ block.settings.heading }}</{{ block.settings.heading_tag }}>
                {% endif %}
                {% if block.settings.description != blank %}
                  <p class="banner__description leading-5 text-current">{{ block.settings.description }}</p>
                {% endif %}
                {% if block.settings.content != blank %}
                  <p class="banner__content leading-5 text-current">{{ block.settings.content }}</p>
                {% endif %}
              </div>
          {% endif %}
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Text Story",
    "tag": "section",
    "settings": [
      {
        "type": "color",
        "id": "colors_background",
        "default": "#ffffff",
        "label": "Color background"
      },
      {
        "type": "range",
        "id": "col_per_row_mobile",
        "label": "Cols per row mobile",
        "min": 1,
        "max": 3,
        "default": 3,
        "step": 1
      },
      {
        "type": "range",
        "id": "col_per_row_tablet",
        "label": "Cols per row tablet",
        "min": 1,
        "max": 3,
        "default": 3,
        "step": 1
      },
      {
        "type": "range",
        "id": "col_per_row_desktop",
        "label": "Cols per row desktop",
        "min": 1,
        "max": 3,
        "default": 3,
        "step": 1
      },
      {
        "type": "header",
        "content": "Margin desktop"
      },
      {
        "type": "range",
        "id": "margin_top",
        "min": 0,
        "max": 200,
        "step": 2,
        "unit": "px",
        "label": "Margin top",
        "default": 64
      },
      {
        "type": "range",
        "id": "margin_bottom",
        "min": 0,
        "max": 200,
        "step": 2,
        "unit": "px",
        "label": "Margin bottom",
        "default": 64
      },
      {
        "type": "header",
        "content": "Margin mobile"
      },
      {
        "type": "range",
        "id": "margin_top_mb",
        "min": 0,
        "max": 200,
        "step": 4,
        "unit": "px",
        "label": "Margin top",
        "default": 0
      },
      {
        "type": "range",
        "id": "margin_bottom_mb",
        "min": 0,
        "max": 200,
        "step": 4,
        "unit": "px",
        "label": "Margin bottom",
        "default": 0
      }
    ],
    "blocks": [
      {
        "type": "text",
        "name": "Text",
        "settings": [
          {
            "type": "checkbox",
            "id": "hide_mb",
            "label": "Hide on mobile",
            "default": false
          },
          {
            "type": "checkbox",
            "id": "hide_tl",
            "label": "Hide on tablet",
            "default": false
          },
          {
            "type": "checkbox",
            "id": "hide",
            "label": "Hide on desktop",
            "default": false
          },
          {
            "type": "header",
            "content": "Images"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image desktop"
          },
          {
            "type": "image_picker",
            "id": "image_mobile",
            "label": "Image mobile"
          },
          {
            "type": "header",
            "content": "Content"
          },
          {
            "type": "select",
            "id": "text_align_item",
            "label": "Text alignment item",
            "default": "center",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ]
          },
          {
            "type": "select",
            "id": "heading_tag",
            "label": "Heading tag",
            "default": "h2",
            "options": [
              {
                "value": "h1",
                "label": "Heading 1"
              },
              {
                "value": "h2",
                "label": "Heading 2"
              },
              {
                "value": "h3",
                "label": "Heading 3"
              },
              {
                "value": "h4",
                "label": "Heading 4"
              },
              {
                "value": "h5",
                "label": "Heading 5"
              }
            ]
          },
          {
            "type": "color",
            "id": "colors_heading",
            "default": "#ffffff",
            "label": "Color heading"
          },
          {
            "type": "range",
            "id": "heading_size",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Heading size",
            "default": 32
          },
          {
            "type": "range",
            "id": "heading_size_mb",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Heading size mobile",
            "default": 32
          },
          {
            "type": "text",
            "id": "heading",
            "default": "Heading",
            "label": "Heading"
          },
          {
            "type": "color",
            "id": "colors_description",
            "default": "#ffffff",
            "label": "Color description"
          },
          {
            "type": "range",
            "id": "description_size",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Description size",
            "default": 32
          },
          {
            "type": "range",
            "id": "description_size_mb",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Description size mobile",
            "default": 32
          },
          {
            "type": "text",
            "id": "description",
            "default": "Description",
            "label": "Description"
          },
          {
            "type": "color",
            "id": "colors_content",
            "default": "#ffffff",
            "label": "Color content"
          },
          {
            "type": "range",
            "id": "content_size",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Content size",
            "default": 32
          },
          {
            "type": "range",
            "id": "content_size_mb",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Content size mobile",
            "default": 32
          },
          {
            "type": "text",
            "id": "content",
            "default": "content",
            "label": "Content"
          },
          {
            "type": "header",
            "content": "Row span"
          },
          {
            "type": "range",
            "id": "row_span_desktop",
            "label": "Rows span desktop",
            "min": 1,
            "max": 3,
            "default": 1,
            "step": 1
          },
          {
            "type": "range",
            "id": "row_span_tablet",
            "label": "Rows span tablet",
            "min": 1,
            "max": 3,
            "default": 1,
            "step": 1
          },
          {
            "type": "range",
            "id": "row_span_mobile",
            "label": "Rows span mobile",
            "min": 1,
            "max": 3,
            "default": 1,
            "step": 1
          },
          {
            "type": "header",
            "content": "Col span"
          },
          {
            "type": "range",
            "id": "col_span_desktop",
            "label": "Cols span desktop",
            "min": 1,
            "max": 3,
            "default": 1,
            "step": 1
          },
          {
            "type": "range",
            "id": "col_span_tablet",
            "label": "Cols span tablet",
            "min": 1,
            "max": 3,
            "default": 1,
            "step": 1
          },
          {
            "type": "range",
            "id": "col_span_mobile",
            "label": "Cols span mobile",
            "min": 1,
            "max": 3,
            "default": 1,
            "step": 1
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Text Story"

      }
    ]
  }
{% endschema %}