{% comment %}
  Renders a list of product's price (regular, sale)

  Accepts:
  - product: {Object} Product Liquid object (optional)
  - use_variant: {Boolean} Renders selected or first variant price instead of overall product pricing (optional)
  - show_badges: {Boolean} Renders 'Sale' and 'Sold Out' tags if the product matches the condition (optional)
  - price_class: {String} Adds a price class to the price element (optional)

  Usage:
  {% render 'price', product: product %}
{% endcomment %}
{%- liquid
  if use_variant
    assign target = product.selected_or_first_available_variant
  else
    assign target = product
  endif

  assign compare_at_price = target.compare_at_price
  assign price = target.price | default: 1999
  assign available = target.available | default: false
  assign percent = compare_at_price | minus: price | times: 100.0 | divided_by: compare_at_price | round
-%}

<div class="flex font-heading gap-2 items-center {{ class }}">
  {% if product %}
    {% if compare_at_price > price %}
      {% if template.name contains 'product' and show  %}
        <div class="relative text-special {% if template.name contains 'product' and show %}{% if template.suffix == 'ajax' %} text-lg font-semibold leading-2 {% else %} text-xl font-semibold {% endif %}{% else %} text-xl{% endif %} ">{{ price | money }}</div>
        <div class="relative text-body line-through{% if template.name contains 'product' and show %} {% if template.suffix == 'ajax' %} text-sm lg:text-base leading-6 {% else %} text-lg {% endif %}{% endif %} font-normal ">{{ compare_at_price | money }}</div>
      {% else %}
        <div class="relative !block before:content-[var(--price)] text-secondaryDark text-base font-semibold" style="--price: '{{ price | money }}'"></div>
        <div class="relative !block before:content-[var(--price)] text-subtext line-through text-sm font-normal" style="--price: '{{ compare_at_price | money }}'"></div>
      {% endif %}
    {% else %}
      {% if template.name contains 'product' and show  %}
        <div class="text-xl font-semibold text-special">{{ price | money }}</div>
      {% else %}
        <div class="!block text-secondaryDark text-lg !leading-5 before:content-[var(--price)] font-semibold" style="--price: '{{ price | money }}'"></div>
      {% endif %}
    {% endif %}
  {% else %}
    {% if template.name contains 'product' and show  %}
      <div class="text-sm md:text-lg text-secondaryDark font-normal !leading-none">{{ price | money }}</div>
    {% else %}
      <div class="!block before:content-[var(--price)] text-lg text-secondaryDark font-medium !leading-5" style="--price: '{{ price | money }}'"></div>
    {% endif %}
  {% endif %}
</div>