<link rel="stylesheet" href="{{ 'product-review.css' | asset_url }}" />

{%- style -%}
  [data-section-id="{{ section.id }}"] {
    background: {{ section.settings.background_color }};
    padding-top: {{ section.settings.padding_top_mb }}px;
    padding-bottom: {{ section.settings.padding_bottom_mb }}px;
    margin-top: {{ section.settings.margin_top_mb }}px;
    margin-bottom: {{ section.settings.margin_bottom_mb }}px;
  }
  @media (min-width: 1024px) {
    [data-section-id="{{ section.id }}"] {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
      margin-top: {{ section.settings.margin_top }}px;
      margin-bottom: {{ section.settings.margin_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="page-width" data-section-id="{{ section.id }}" id="{{ product.id }}-review">
  {% if section.settings.heading != blank %}
    <h2 class="text-h5 font-semibold lg:text-h2 mb-5 lg:mb-10 text-center text-primary">
      {{ section.settings.heading }}
    </h2>
  {% endif %}
  {% for block in section.blocks %}
    {%- case block.type -%}
      {%- when '@app' -%}
        {% render block %}
      {%- when 'social_sharing' -%}
        {% render 'share-social', text: 'Share this item: ' %}  
    {%- endcase -%}
  {% endfor %}
</div>
{% capture src_url %}{{ 'product-review.js' | asset_url }}{% endcapture %}
{% render 'atom_script', src: src_url, priority: 'normal', type: "defer" %}
{% schema %}
  {
    "name": "Product reviews",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Our Customer Reviews"
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Background"
      },
      {
        "type": "header",
        "content": "Padding mobile"
      },
      {
        "type": "range",
        "id": "padding_top_mb",
        "min": 0,
        "max": 200,
        "step": 2,
        "unit": "px",
        "label": "Padding top",
        "default": 36
      },
      {
        "type": "range",
        "id": "padding_bottom_mb",
        "min": 0,
        "max": 200,
        "step": 2,
        "unit": "px",
        "label": "Padding bottom",
        "default": 36
      },
      {
        "type": "header",
        "content": "Padding desktop"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 200,
        "step": 2,
        "unit": "px",
        "label": "Padding top",
        "default": 36
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 200,
        "step": 2,
        "unit": "px",
        "label": "Padding bottom",
        "default": 36
      },
      {
        "type": "header",
        "content": "Margin mobile"
      },
      {
        "type": "range",
        "id": "margin_top_mb",
        "min": 0,
        "max": 200,
        "step": 2,
        "unit": "px",
        "label": "Margin top",
        "default": 36
      },
      {
        "type": "range",
        "id": "margin_bottom_mb",
        "min": 0,
        "max": 200,
        "step": 2,
        "unit": "px",
        "label": "Margin bottom",
        "default": 36
      },
      {
        "type": "header",
        "content": "Margin desktop"
      },
      {
        "type": "range",
        "id": "margin_top",
        "min": 0,
        "max": 200,
        "step": 2,
        "unit": "px",
        "label": "Margin top",
        "default": 36
      },
      {
        "type": "range",
        "id": "margin_bottom",
        "min": 0,
        "max": 200,
        "step": 2,
        "unit": "px",
        "label": "Margin bottom",
        "default": 36
      }
    ],
    "blocks": [
      {
        "type": "@app"
      },
      {
        "type": "social_sharing",
        "name": "Social sharing",
        "limit": 1,
        "settings": []
      }
    ],
    "presets": [
      {
        "name": "Product reviews"
      }
    ],
    "enabled_on": {
      "templates": ["product"]
    }
  }
{% endschema %}