<link rel="stylesheet" href="{{ 'facet.css' | asset_url }}">

{% paginate search.results by 10 %}
  <div class="page-width flex flex-wrap py-8 lg:pt-9 lg:pb-16" data-id="{{ section.id }}" id="ProductGridContainer">
    <h1 class="w-full text-xl leading-5 font-semibold text-primary mb-6 lg:mb-8">Search results</h1>

    {% if search.results.size > 0 %}
      {% render 'facet', results: search %}
    {% endif %}
    <div class="w-full transition-all duration-500 max-w-full overflow-hidden" data-total-pages="{{ paginate.pages }}" data-pagination="{{ products_per_page }}" data-current-page="{{ paginate.current_page }}" id="product-grid">
      {% if search.results.size > 0 %}
        <div class="pb-6 facet-mobile flex flex-wrap gap-3 items-center justify-between lg:mx-0 lg:mt-0 transition-all duration-200 bg-background">
          <div class="flex items-end gap-1.5">
            <span class="block text-base lg:text-lg !leading-none w-full md:w-fit text-primary font-semibold">{{ search.terms }}</span>
            <div id="ProductCount" class="viewing-currently-product text-sm !leading-none text-subtext whitespace-nowrap">
              {% liquid
                assign products_count = paginate.current_page | times: section.settings.products_per_page
                if products_count > paginate.items
                  assign products_count = paginate.items
                endif
              %}
              {{ 'sections.collection_template.current_view_count_html' | t: all_products_count: paginate.items, products_count: products_count }}
            </div>
          </div>
          <facet-filters-form class="flex items-center justify-end gap-4 sort-by ml-auto" id="sortby-wrapper">
            <toggle-filter class="items-center gap-2 transition-all duration-500 z-[9] border-2 border-primary px-2 py-0.5 rounded-[100px]">
              <button class="flex items-center text-primary transition-all capitalize whitespace-nowrap lg:normal-case text-sm lg:text-base font-medium cursor-pointer gap-2">
                <span class="block">{{- 'products.facets.filter' | t -}}</span>
                {% render 'icon-filter', class: 'w-4 h-4' %}
              </button>
            </toggle-filter>
            <form id="FacetSortForm">
              <div class="flex items-center gap-2 js-filter" data-index="sort-by">
                {%- assign sort_by = search.sort_by | default: search.default_sort_by -%}
                <select name="sort_by" class="hidden opacity-0 invisible absolute -z-30" id="SortBy" aria-describedby="a11y-refresh-page-message">
                  {%- for option in search.sort_options -%}
                    <option value="{{ option.value | escape }}" {% if option.value == sort_by %} selected="selected"{% endif %}></option>
                  {%- endfor -%}
                </select>
                <accordion-toggle class="inline-block relative cursor-pointer clickout-accordion">
                  <div class="summary flex items-center gap-2.5 border-2 border-primary px-2 py-0.5 rounded-[100px]">
                    {%- for option in search.sort_options -%}
                      {% if option.value == sort_by %}
                        <span class="inline-block text-sm lg:text-base text-primary font-medium" data-value="{{ option.value | escape }}">
                          {% if option.value == "manual" %}
                            {{ 'products.facets.sort_by.manual' | t }}
                          {% elsif option.value == "best-selling" %}
                            {{ 'products.facets.sort_by.best_selling' | t }}
                          {% elsif option.value == "price-ascending" %}
                            {{ 'products.facets.sort_by.price_ascending' | t }}
                          {% elsif option.value == "price-descending" %}
                            {{ 'products.facets.sort_by.price_descending' | t }}
                          {% elsif option.value == "created-ascending" %}
                            {{ 'products.facets.sort_by.created_ascending' | t }}
                          {% elsif option.value == "created-descending" %}
                            {{ 'products.facets.sort_by.created_descending' | t }}
                          {% elsif option.value == "title-ascending" %}
                            {{ 'products.facets.sort_by.title_ascending' | t }}
                          {% elsif option.value == "title-descending" %}
                            {{ 'products.facets.sort_by.title_descending' | t }}
                          {% else %}
                            {{ option.name | escape }}
                          {% endif %}
                        </span>
                      {% endif %}
                    {%- endfor -%}
                    {% render 'icon-down', class: 'w-4.5 h-4.5 text-primary' %}
                  </div>
                  <div class="shadow-megamenu dropitem w-max details absolute z-10 right-0 top-full rounded-lg bg-background py-3 pl-4 pr-3 opacity-0 invisible min-w-[174px]">
                    <ul class="max-h-60 w-full overflow-auto scroll-thin scroll-brighter">
                      {% if collection.handle != 'all' %}
                        {%- for option in search.sort_options -%}
                          {% if option.value != 'title-ascending' and option.value != 'title-descending' %}
                            <li class="cursor-pointer transition-all text-primary text-sm lg:text-base font-normal leading-normal p-2 mr-2 rounded hover:bg-[#f4f4f4]{% if option.value == sort_by %} active{% endif %}" data-value="{{ option.value | escape }}">
                              {% if option.value == "manual" %}
                                {{ 'products.facets.sort_by.manual' | t }}
                              {% elsif option.value == "best-selling" %}
                                {{ 'products.facets.sort_by.best_selling' | t }}
                              {% elsif option.value == "price-ascending" %}
                                {{ 'products.facets.sort_by.price_ascending' | t }}
                              {% elsif option.value == "price-descending" %}
                                {{ 'products.facets.sort_by.price_descending' | t }}
                              {% elsif option.value == "created-ascending" %}
                                {{ 'products.facets.sort_by.created_ascending' | t }}
                              {% elsif option.value == "created-descending" %}
                                {{ 'products.facets.sort_by.created_descending' | t }}
                              {% elsif option.value == "title-ascending" %}
                                {{ 'products.facets.sort_by.title_ascending' | t }}
                              {% elsif option.value == "title-descending" %}
                                {{ 'products.facets.sort_by.title_descending' | t }}
                              {% else %}
                                {{ option.name | escape }}
                              {% endif %}
                            </li>
                          {% endif %}
                        {%- endfor -%}
                      {% else %}
                        {%- for option in search.sort_options -%}
                          <li class="cursor-pointer transition-all text-primary text-sm lg:text-base font-normal leading-normal p-2 mr-2 rounded hover:bg-[#f4f4f4]{% if option.value == sort_by %} active{% endif %}" data-value="{{ option.value | escape }}">
                            {% if option.value == "manual" %}
                              {{ 'products.facets.sort_by.manual' | t }}
                            {% elsif option.value == "best-selling" %}
                              {{ 'products.facets.sort_by.best_selling' | t }}
                            {% elsif option.value == "price-ascending" %}
                              {{ 'products.facets.sort_by.price_ascending' | t }}
                            {% elsif option.value == "price-descending" %}
                              {{ 'products.facets.sort_by.price_descending' | t }}
                            {% elsif option.value == "created-ascending" %}
                              {{ 'products.facets.sort_by.created_ascending' | t }}
                            {% elsif option.value == "created-descending" %}
                              {{ 'products.facets.sort_by.created_descending' | t }}
                            {% elsif option.value == "title-ascending" %}
                              {{ 'products.facets.sort_by.title_ascending' | t }}
                            {% elsif option.value == "title-descending" %}
                              {{ 'products.facets.sort_by.title_descending' | t }}
                            {% else %}
                              {{ option.name | escape }}
                            {% endif %}
                          </li>
                        {%- endfor -%}
                      {% endif %}
                    </ul>
                  </div>
                </accordion-toggle>
              </div>
              {% if search.current_vendor or search.current_type %}
                <input type="hidden" name="q" value="{{ search.current_vendor }}{{ search.current_type }}">
              {% endif %}
              {%- if search.terms -%}
                <input type="hidden" name="q" value="{{ search.terms | escape }}">
                <input name="options[prefix]" type="hidden" value="last">
              {%- endif -%}
            </form>
          </facet-filters-form>
        </div>
      {% endif %}
      {%- if search.performed -%}
        <div id="main-collection-product" class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 transition-all duration-500 gap-4 overflow-hidden">
          {% if search.results.size > 0 %}
            {% for product in search.results %}
              {%- render 'product-card', product: product, lazy_load: lazy_load, heading: 'h2' -%}
            {% endfor %}
          {% endif %}
        </div>
      {%- endif -%}
      <div class="flex flex-col justify-center items-center gap-4 mt-8 lg:mt-12{% if paginate.pages <= 1 %} !hidden{% endif %}">
        {% render 'pagination', paginate: paginate %}
      </div>
    </div>
  </div>
{% endpaginate %}
{% capture facet %}{{ 'facet.js' | asset_url }}{% endcapture %}
{% render 'atom_script', src: facet, priority: 'normal', type: "defer" %}

<script defer>
  let term = '{{ search.terms }}';
  let list = JSON.parse(localStorage.getItem('recentSearch')) || [];
  if (localStorage.getItem('recentSearch')) {
    if(!list.includes(term)) {
      list.unshift(term);
      if(list.length > 3) {
        list.pop();
      }
    }
    localStorage.setItem('recentSearch', JSON.stringify(list));
  } else {
    list.unshift(term);
    localStorage.setItem('recentSearch', JSON.stringify(list));
  }
</script>

{% schema %}
  {
    "name": "template-search",
    "settings": [
      {
        "type": "range",
        "id": "products_per_page",
        "min": 8,
        "max": 50,
        "step": 1,
        "default": 20,
        "label": "Product per page"
      }
    ]
  }
{% endschema %}